<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Password</title>

    <link rel="icon"  type="image/png" href="{% static 'images/wactop-fav-4.png' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-page.css' %}">

    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive-latest.css' %}">
    <style>
        input, textarea{
            font-size: 14px;
        }

        .container{
          background-color: transparent;
        }
    </style>
</head>

<body id="main_body">



  {% include 'partials/header.html' %}
  {% include 'partials/main-menu.html' %}

<main class="pt-5">
    <div class="container custom-container mb-5 mt-5">
        <div class="row">
            <div class="col-12 pt-3">
                <form class="form-box bg-white change-pass-form shadow pt-5" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                    <div class="form-group row justify-content-center f-size">
                        <div class="col-12 col-sm-3">
                            {{form.old_password.label_tag}}
                        </div>
                        <div class="col-12 col-sm-9">
                            {{form.old_password}}
                            {{form.old_password.errors}}
                        </div>
                    </div>
                    <div class="form-group row justify-content-center f-size">
                        <div class="col-12 col-sm-3">
                            {{form.new_password1.label_tag}}
                        </div>
                        <div class="col-12 col-sm-9">
                            {{form.new_password1}}
                            {{form.new_password1.errors}}
                        </div>
                    </div>
                    <div class="form-group row justify-content-center f-size">
                        <div class="col-12 col-sm-3">
                            {{form.new_password2.label_tag}}
                        </div>
                        <div class="col-12 col-sm-9">
                            {{form.new_password2}}
                            {{form.new_password2.errors}}
                        </div>
                    </div>
                    <div class="form-group row justify-content-end f-size">
                        <input type="submit" value="Change Password" class="btn btn-mob btn-outline-success">
                    </div>


                </form>
            </div>
        </div>
    </div>
</main>

    <!-- {% include 'partials/footer.html' %} -->

    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>