<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>

    <link rel="icon"  type="image/png" href="{% static 'images/wactop-fav-4.png' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive-latest.css' %}">


    <style>
        input, textarea{
            font-size: 14px;
        }
        .custom-container{
            margin-top: 5rem;
        }
    </style>
</head>

<body id="main_body">
  {% include 'partials/header.html' %}
  {% include 'partials/main-menu.html' %}
<main class="pt-5">
    <div class="container custom-container ">
        <div class="row">
            <div class="col-12 pt-3">
                <form class="form-box bg-white shadow edit-user-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                   
                    <div class="form-group row justify-content-center f-size mt-4">
                        <label for="staticEmail" class="col-sm-2 col-form-label pl-0 pr-0">{{form.username.label_tag}}</label>
                        <div class="col-sm-7">
                            {{form.username}}
                            {{form.username.errors}}
                        </div>
                    </div>
                    <div class="form-group row justify-content-center f-size mt-4">
                        <label for="staticEmail" class="col-sm-2 col-form-label pl-0 pr-0">{{form.email.label_tag}}</label>
                        <div class="col-sm-7">
                            {{form.email}}
                            {{form.email.errors}}
                        </div>
                    </div>
                    <div class="form-group row justify-content-center f-size mt-4">
                        <label for="staticEmail" class="col-sm-2 col-form-label pl-0 pr-0">{{form.profile_img.label_tag}}</label>
                        <div class="col-sm-7">
                            {{form.profile_img}}
                            {{form.profile_img.errors}}
                        </div>
                    </div>
                    <div class="form-group row d-flex justify-content-center f-size">
                        <div class="col-sm-3" ></div>
                        <div class="col-sm-6 d-flex justify-content-end" >
                          <input type="submit" value="Edit Profile" class="btn-mob btn btn-outline-success mr-2">
                        </div>
                    </div>

                 
                </form>
            </div>
        </div>
    </div>
</main>

    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>