{% load static %}


<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <nav class="footer-menu">
                    <ul class="d-column">
                        <li>
                            <a href="{% url 'main:about' %}">About Us</a>
                        </li>
                        <li>
                            <a href="{% url 'main:terms' %}">Terms</a>
                        </li>
                        <li>
                            <a href="{% url 'main:privacies' %}">Privacy</a>
                        </li>
                    </ul>
                    <p><i class="far fa-copyright"></i> 2020</p>
                </nav>
            </div>
            <div class="col-4">
                <div class="d-column align-center">
                    <span class="mb-2 mt-2">Follow Us</span>
                    <ul class="footer-social-links" >
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <a href="{% url 'main:contact' %}">Contact</a>
            </div>
        </div>
    </div>
</footer>