
{% load static %}
<header id="header">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="left">
                <button type="button" class="menu_btn menu-btn">
                    <i class="fas fa-bars"></i>
                </button>
                <a href="{% url 'main:home' %}">
                    <img src="{% static 'images/wactop.png' %}" width="180px" class="mb-2" alt="">
                </a>
            </div>
            <div class="align-center">
                {% if request.user.is_authenticated %}
                    <div class="user-profile">
                        <div class="d-flex justify-content-center align-center">
                            {% if request.user.profile_img %}
                                <img src="{{request.user.profile_img.url}}" width="50px" alt="">
                            {% else %}
                                <img src="{% static 'images/profile.png' %}" width="50px" alt="">
                            {% endif %}
                            <span class="ml-2">{{request.user.username}} <i class="fas fa-angle-down"></i></span>
                        </div>
                        <div class="header-menu" >
                            <nav>
                                <ul class="d-column mb-0">   
                                    {% if request.user.is_organizer %}
                                        <li>
                                            <a href="{% url 'organizer:detail' request.user.organizer.pk %}">{{request.user.organizer.organizer_name}}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'organizer:organizer-profile' %}">Organizer Settings</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{% url 'account:change-password' %}">Change Password</a>
                                    </li>
                                    <li>
                                        <a href="#">Account Details</a>
                                    </li>
                                    <li>
                                        <a href="#">Saved Tours</a>
                                    </li>
                                    <li>
                                        <a href="#">My Profile</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'account:logout' %}">Sign Out</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% else %}
                    <nav class="header-left-bottom">
                        <ul>
                            <li><button type="button" class="loginBtn" data-toggle="modal" data-target="#loginModal">Login</a></li>
                            <li><button type="button" class="registerBtn" data-toggle="modal" data-target="#registerModal">Register</a></li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
</header>

