
{% load static custom-tags %}
{% load notifications_tags %} 
<style>
    .loginBtn, .registerBtn,.logout{
        color: #febd69;
        transition: color .2s ease-in-out;
    }
    .loginBtn:hover, .registerBtn:hover,.logout:hover{
        color: #ccc;
    }
    .register-modal .register-link{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: #fff;
        color: #000;
        border-radius: 6px;
        margin-bottom: 20px;
        text-decoration: none !important;
      }
      .register-modal .register-link:hover{
        color: rgb(49, 49, 49);
      }

      .login-modal .form-input{
        height: 50px;
        padding: 5px 10px;
      }

      .login-modal .login_btn{
        border-radius: 10px;
        width: 100%;
        padding: 10px 0;
      }

      .modal-dialog{
        max-width: 550px;
      }

      .login-modal .social-login a{
        border-radius: 10px;
        padding: 10px 0;
        margin-bottom: 10px;
      }
      .header-left-bottom{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
</style>
<header id="header">
    <div class="container-fluid">
        <div class="row justify-content-between mr-0 ml-0">
            <div class="left">
                <button type="button" class="menu_btn menu-btn">
                    <i class="fas fa-bars"></i>
                </button>
                <a href="{% url 'main:home' %}">
                    <img src="{% static 'images/wactop.png' %}" width="180px" class="mb-2" alt="">
                </a>
            </div>
            <div class="align-center">
                {% if request.user.is_authenticated %}
                    <div class="user-profile">
                        <div class="d-flex justify-content-center align-center">
                            {% if request.user.profile_img %}
                                <img src="{{request.user.profile_img.url}}" width="50px" alt="">
                            {% else %}
                                <img src="{% static 'images/profile.png' %}" width="50px" alt="">
                            {% endif %}
                            <span class="ml-2">{{request.user.username}} <i class="fas fa-angle-down"></i></span>
                        </div>
                        <div class="header-menu" >
                            <nav>
                                <ul class="d-column mb-0"> 
                                    <li>
                                        
                                       <a href="{% url 'notifications:unread' %}"> You have <strong> {% live_notify_badge %}</strong> Notifications</a>
                                    </li>  
                                    {% if request.user.is_organizer %}
                                        <li>
                                            <a href="{% url 'organizer:detail' request.user.organizer.pk %}">{{request.user.organizer.organizer_name}}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'organizer:organizer-profile' %}">Organizer Settings</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{% url 'account:change-password' %}">Change Password</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'account:user-update' request.user.pk %}">Account Details</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'account:logout' %}">Sign Out</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% else %}
                {% login_form as login %}
                <div class="modal fade " style="margin-top: 90px;" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog login-modal" >
                        <div class="modal-content p-2 pt-5 shadow" style="background-color: #ebebeb;">
                        <form class="" method="post" action="{% url 'main:home' %}">
                            {% csrf_token %}
                            <div class="login-container">
                                <h4 class="text-center mb-3" style="color: rgb(112, 111, 111);">Sing-In</h4>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-12  d-flex justify-content-center">
                                        {{login.username}}
                                        {{login.username.errors}}
                                    </div>
                                </div>
                                <div class="form-group row" >
                                    <div class="col-sm-12 d-flex justify-content-center">
                                        {{login.password}}
                                        {{login.password.errors}}
                                    </div>
                                </div>
                                <div class="form-group row mt-3">
                                    <div class="col-sm-12 d-flex justify-content-center">
                                    <input type="submit" class="btn btn-primary login_btn" value="Sing-In" />
                                    </div>
                                </div>

                                <div class="form-group row justify-content-end d-flex">
                                <a href="{% url 'account:password_reset' %}" class="float-right mr-3">Forgot password?</a>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <form class="full p-2">
                            <div class="form-group d-column social-login">
                                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary" >
                                    <i class="fab fa-google-plus-g mr-2"></i>Continue with Google
                                </a>
                                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary" style="border: 1px solid #ccc">
                                    <i class="fab fa-facebook-f mr-2"></i> Continue with Facebook
                                </a>
                            
                            </div>
                            </form>
                            <div class="d-column full mb-3">
                            <p class="text-center">Are you new?</p>
                            <a class="text-center" href="#" data-toggle="modal" data-target="#registerModal" >Create your account</a>
                            </div>
                        </div>

                        </div>
                    </div>
                    </div>

                    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog register-modal" role="document">
                        <div class="modal-content" style="background-color: #ebebeb;">
                            <div class="modal-body d-column">
                                <h4 class="full text-center mb-3 pb-2 border-bottom">Register</h4>
                                <a class="register-link mt-3"  href="{% url 'organizer:organizer-register' %}" >
                                Register as Organizer
                                </a>
                                <a class="register-link" href="{% url 'account:user-register' %}">
                                Register as User
                                </a>
                            </div>
                        </div>
                    </div>
                    </div>
                    <nav class="header-left-bottom">
                        <ul class='mb-0'>
                            <li class='mr-2'><button type="button" class="loginBtn" data-toggle="modal" data-target="#loginModal">Login</a></li>
                            <li><button type="button" class="registerBtn" data-toggle="modal" data-target="#registerModal">Register</a></li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
