body {
    background-color: #F2F2F2;
}


.head-bottom-img {
    height: 500px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-bottom-left {
    width: 100%;
    display: flex;
}

.image-right {
    width: calc(100% - 150px);
}

.header-bottom-right {
    display: flex;
    justify-content: space-between;
}

.bottom-right {
    display: flex;
}

.full-width {
    width: 100%;
    max-height: 70px;
    background-color: #2e7fe8;
    padding: 10px 0px;
    color: #fff;
}

.header-container {
    max-width: 1140px;
}

.company-image {
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 97px;
}

.company-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* position: absolute; */
    bottom: 100px;
}

.img-right {
    width: calc(100% - 150px);
    display: flex;
    flex-direction: column;
}

.location {
    margin-right: 20px;
}
.select-style{
    background-color: #2e7fe8;
    color: #fff;
}

/* menu design */



/*  */

.main-tour-container {
    background-color: #fff;
}

.back-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-menu {
    width: 100%;
    background-color: #F2F2F2;
}

.main-container {
    width: 1060px;
    margin: 0 auto;
    display: flex;
}

.top-main {
    width: 100%;
    display: flex;
}

.left-wrapper {
    background-color: #fff;
}

.right p {
    text-align: center;
    padding-top: 20px;
    position: relative;
}

.right .right-list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-top: 2px solid #e7e7e7;
}

.right-list span {
    margin-right: 10px;
    font-size: 22px;
}
.day-count-list {
    height: 100%;
    display: flex;
    align-items: center;
}

.day {
    margin-right: 5px;
}

.center {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    position: relative;
}

.center::before {
    position: absolute;
    content: "";
    right: 13%;
    width: 5px;
    height: 100%;
    background-color: #e7e7e7;
}

.overlay {
    width: 100%;
    padding-top: 10px;
}

.word {
    width: 100%;
    font-size: 15px;
    text-align: justify;
}

.details {
    width: 100%;
    margin-top: 30px;
}

.details p {
    margin-bottom: 0 !important;
}

.details ul {
    display: flex;
    flex-direction: column;
    position: relative;
}

.details ul li {
    margin-left: 10px;
}

.details ul li::before {
    position: absolute;
    content: "-";
    left: -10px;
}

.tour-it,
.dec {
    width: 100%;
    text-transform: uppercase;
}

.middle-container {
    padding-right: 0;
}

.middle {
    width: 100%;
    height: 215px;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #e7e7e7;
}

.middle nav {
    height: 100%;
}

.middle nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

.middle nav ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 20px;
}

.middle nav ul li:not(:last-child) {
    border-bottom: 2px solid #e7e7e7;
}

.middle nav ul li button {
    margin-top: 25px;
    background-color: transparent;
}

.middle nav ul li button i {
    font-size: 25px;
    color: #ccc;
}

.middle nav ul li button i.fas {
    color: rgba(46, 127, 232);
}

.middle h4 {
    font-weight: 600;
    padding-top: 5px;
}

.price {
    color: #63a3eb;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0 !important;
}

.person {
    color: #c7ccd0;
}

.about-company {
    padding-left: 25px;
}

.middle-container .about-company-mobile {
    position: absolute;
    bottom: 0;
    display: none;
}

.read-more-div {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.read-more-div .all-content {
    opacity: .3;
    text-align: justify;
}
.readmore{
    cursor: pointer;
}
#more {
    display: none;
}

.fa {
    font-size: 13px;
    color: #B2B2B2;
}

.checked {
    color: #ffff00;
}

#show-btn {
    margin-top: 10px;
    background-color: transparent;
    color: #5190c6;
}

#show-btn:hover {
    color: #5F5F5F;
}

#read-more-btn {
    background-color: transparent;
    font-weight: 700;
    color: #63a3eb;
}

#read-more-btn:hover {
    color: #5F5F5F;
}

.tour-details {
    border-right: 4px solid #e7e7e7;
}

.images {
    width: 500px;
    margin-bottom: 30px;
    padding-left: 25px;
    height: 300px;
}
.owl-carousel, .owl-stage-outer, .owl-stage, .owl-item, .item{
    height: 100%;
}
.item img{
    height: 100%;
    object-fit: cover;
}
.owl-nav button {
    width: 40px;
    height: 40px;
    transition: all .4s ease-in-out;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    color: rgb(117, 112, 112) !important;
}

.owl-nav button:hover {
    color: #fff !important;
}

.owl-nav {
    margin-top: 0;
}

.owl-nav .owl-next {
    right: -17px
}

.owl-nav .owl-prev {
    left: -17px;
}

.owl-nav span {
    font-size: 55px;
}

.iframe-container {
    margin-bottom: 40px;
    padding-left: 25px;
}

.iframe-container iframe {
    width: 100%;
    height: 500px
}

.about-company {
    height: 200px;
}

.about-company ul,
.about-company-mobile ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.top-to-box {
    width: 100%;
    text-align: center;
    background-color: #2e7fe8;
}

.top-to-box button {
    color: #fff;
    font-weight: 600;
    font-size: 20px !important;
    background-color: transparent;
}


/* design of footer */

#footer {
    background: linear-gradient(to bottom, rgba(56,59,68,1) 0%,rgba(46,47,52,1) 100%);
}



ul li,
ol li {
    position: relative;
    float: left;
    list-style-type: none;
}

a {
    display: inline-block;
    transition: color .2s ease-in-out;
    text-decoration: none !important;
}

.foot-list {
    display: flex;
    flex-direction: column;
}

.foot-list li {
    margin-bottom: 3px;
}

.foot-list a {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.foot-list a:hover {
    color: rgb(205, 203, 204);
}

#footer p {
    color: #c4c2c3;
    font-size: 15px;
    margin: 0;
}

#footer .fa-copyright {
    margin-right: 5px;
}

#footer .row {
    margin-left: 0;
    margin-right: 0;
    padding-top: 15px;
}

.contact-link {
    position: relative;
    right: 10px;
    float: right;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.contact-link:hover {
    color: rgb(205, 203, 204);
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}

.social-media p {
    color: #FFF;
    margin-bottom: 0 !important;
}

.social-media li {
    padding: 10px;
}

.social-media path {
    color: #FFF;
}

.social-media li a:hover path {
    color: rgb(205, 203, 204);
}