@media (max-width: 2800px){
    .custom-container{
        max-width: 85%;
    }
    .main-tour-container{
        max-width: 85%;
    }
}

@media (max-width: 1024px) {
    .right {
        font-size: 13px;
    }
    .right-list span {
        font-size: 19px;
    }

}

@media (max-width: 800px) {
    .below-header {
        height: 590px;
        /* padding-top: 40px; */
    }
    .head-bottom-img {
        height: 365px;
    }
    .center {
        padding-left: 0;
        padding-top: 10px;
    }
    .center::before {
        display: none;
    }
    .container {
        max-width: 100%
    }
    .full-width {
        max-height: 160px;
    }
    .header-content {
        flex-direction: column;
    }
    .image-right {
        width: 100%;
    }
    .company-image {
        position: absolute;
        left: 50%;
        top: 56%;
        transform: translate(-50%, -50%);
    }
    .tour-name {
        left: initial;
    }
    .header-bottom-right {
        flex-direction: column;
    }
    .bottom-right {
        justify-content: space-between;
    }
    .location {
        margin-bottom: 0;
        /* margin-top: 12px; */
    }
    .left {
        padding-left: 0;
        margin-right: 0;
    }
    .mountain {
        clear: both;
        float: initial;
    }
    .main-container {
        width: 100%;
    }
    .img-center {
        width: 95%;
    }
    .tour-details {
        border-right: none;
    }
    .img {
        left: 50%;
        bottom: 115px;
        transform: translateX(-50%);
    }
    .comps-info-container {
        width: 100%;
    }
    .below-header {
        height: 300px;
    }
    .center-img {
        height: 110px;
    }
    .mountain .select-langs {
        margin-right: 5px;
    }
    .comps-info {
        padding-top: 10px;
    }
    .comps-info h5 {
        font-size: 1.5rem;
    }
    .read-more-div {
        width: 100%;
    }
    .middle-container {
        width: 100%;
        padding: 30px 25px 0px 25px;
    }
    .about-company {
        padding-left: 0;
    }
    .top-main {
        flex-direction: column;
    }
    .middle {
        border-top: none;
        border-left: none;
        margin-bottom: 57px
    }
    .left-wrapper {
        width: 100%;
    }
    .overlay {
        padding-top: 0;
    }
    .right {
        font-size: 17px;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .right-list span {
        font-size: 22px;
    }
    .images {
        width: 100%;
        padding-left: 0;
    }
    .iframe-container {
        padding-left: 0;
    }
    .iframe-container iframe {
        width: 100%;
        height: 270px;
    }
}
@media (max-width: 767px) {
    .messgae-icon{
        width: 150px;
        height: 150px;
        margin-bottom: 30px;
    }
    .tour-details {
        font-size: 13px;
    }
    .comment-author i{
        font-size: 13px;
    }

    .tour-details h3{
        font-size: 20px;
    }
}
@media (max-width: 524px) {
    /* .company-image {
        top: 47%;
    } */
    .menu-box-in-head {
        height: 47px;
    }
    .social-media svg {
        width: 14px;
    }
    .social-media li {
        padding: 0;
    }
    .foot-list {
        margin: 0;
    }
    #footer a {
        font-size: 13px;
    }
    #footer p {
        font-size: 13px;
    }
    .ins-icon {
        margin: 0 20px;
    }
    .close-btn {
        width: 40px;
    }
    .close-btn svg {
        width: 15px;
    }
    .head-up-left img {
        width: 120px;
    }
    .head-up-left svg {
        width: 20px;
    }
}

@media (max-width: 400px) {
    .menu-box-in {
        width: 240px;
    }
    .menu-box-in-head img {
        left: 40px;
    }
}

@media (max-width: 340px) {
    #footer p {
        font-size: 10px;
    }
    .ins-icon {
        margin: 0px 11px;
    }
}
