* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
}
#main_body{
    background-color: #F7F9F9;
}
ul li,
ol li {
    position: relative;
    float: left;
    list-style-type: none;
}

a {
    display: inline-block;
    transition: color .2s ease-in-out;
    text-decoration: none !important;
}
button {
    background-color: transparent;
}
header {
    width: 100%;
    background-color: #3e3c3d;
    /* float: left; */
}
/* menu design */
body{
    background-color: #F2F2F2;
}


#header{
    background: linear-gradient(to bottom, rgba(56,59,68,1) 0%,rgba(46,47,52,1) 100%);
}
.menu_btn{
    border: 1px solid #f7F9F9;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.menu_btn i{
    color: #f7F9F9;
    font-size: 18px;
}

.user-profile{
    color: #fff;
}

.custom-container{
    max-width: 85%;
    margin: auto;
}

.inner-container{
    max-width: 80%;
    margin: auto;  
}


.company-admin-container .col-3{
    display: flex;
    justify-content: center;
}

.company-admin-container a{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.company-admin-container i{
    font-size: 40px;
    margin-right: 10px;
}

.tour-menu-list li{
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: .4s;
}

.tour-menu-list li:hover{
    color: #0093E9;
    border-bottom: 1px solid #0093E9;
}

.number{
    color: #fff;
    background-color: #ccc;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}


.menu-btn:hover{
    border-color: #fff;
}

.menu-btn svg{
    color: #fff;
}
.menu-box{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 2;
}
.menu-box-in{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #EBECEE;
    z-index: 1000;
    -webkit-box-shadow: 9px -1px 57px -16px rgba(255,255,255,0.73);
    -moz-box-shadow: 9px -1px 57px -16px rgba(255,255,255,0.73);
    box-shadow: 9px -1px 57px -16px rgba(255,255,255,0.73);
}

.menu-box-in-head {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(56,59,68,1) 0%,rgba(46,47,52,1) 100%);
}

.close-btn svg{
    color: #fff;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: -50px;
    width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.close-btn:hover{
    border-color: #fff;
}
.main-menu-list{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}
.main-menu-list a{
    font-size: 18px;
    color:#000;
    font-weight: 700;
    transition: .2s;
}
.main-menu-list a:hover{
    text-decoration: none;
    color: #1679f0;
}

.close-btn i{
    color: #fff;
    font-size: 25px;
    margin: 5px;
}

.close-btn{
    position: absolute;
    top: 5px;
    right: -50px;
    width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.close-btn:hover{
    border-color: #fff;
}

.main-menu-list{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.main-menu-list li{
    border-bottom: 1px solid #000;
}
.main-menu-list a{
    font-size: 18px;
    color:#000;
    font-weight: 700;
    transition: .4s;
    width: 100%;
    padding: 10px;
}
.main-menu-list a:hover{
    text-decoration: none;
    color: #1679f0;
}


.org-actions{
    margin-bottom: 10px;
}

.org-actions h3{
    color: #777782;
}

.tour-list,
.organizer-list{
    margin-bottom: 130px;
}

.delete-edit-box{
    position: absolute;
    right: 10px;
    top: 10px;
}

.delete-edit-box .edit-btn{
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #65B5F8;
    border: 1px solid #65B5F8;
    margin-right: 10px;
    transition: .4s;
}

.delete-edit-box .delete-btn{
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #f73f3f;
    border: 1px solid #f73f3f;
    transition: .4s;
}

.delete-edit-box .delete-btn:hover{
    background-color: #f73f3f;
    color: #fff;
}

.delete-edit-box .edit-btn:hover{
    background-color: #65B5F8;
    color: #fff;
}

/* end of menu design */

label, p {
    color: #535353;
}
button:hover{
    background-color: #535353;
    color: #fff;
}
.custom-container{
    max-width: 60%;
    /* background-color: #fff; */
    clear: both;
}
.cover-img-box{
    height: 220px;
    background-color: mistyrose;
}
.profile-img-box{
    position: absolute;
    z-index: 1;
    bottom: -10px;
    left: 30px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.p-relative{
    position: relative;
}
.display-none{
    display: none;
}
#profile{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 18px 2px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 18px 2px rgba(255,255,255,1);
    box-shadow: 0px 0px 18px 2px rgba(255,255,255,1);
}
.p-absolute{
    position: absolute;

}
.add-cover-img-box{
    top: 15px;
    right: 10px;
}
.add-img-box{
    right: -6px;
    bottom: 10px;
}
#coverimgInp{
    opacity: 0;
    position: absolute;
    z-index: 1;
}
#profileimgInp{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.add-img-label{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-size: 25px;
}
.f-size label{
    font-size: 15px; 
}
.form-input{
    border: 1px solid #D2D3D3;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    
}

.form-input:not(textarea){
    height: 45px;
}

.form-input::placeholder{
    color: #8C8C8C
;
}.form-input:focus{
    border: 1px solid #4CAEFF;

}
.modal-box{
    background-color: #fff;
}
.m-top{
    margin-top: 170px;
}
.loginBtn,.registerBtn{
    color: #febd69;
    transition: color .2s ease-in-out;
}
.loginBtn:hover, .registerBtn:hover{
    color: #d3d3d3;
    background-color: transparent;
}
.loginBtn:focus, .registerBtn:focus{
    border: none;
    outline: none;
}
.hover{
    width:100%;
    color: #6c757d;
    transition: all .2s ease-in-out;
}
.hover:hover{
    background-color: #6c757d;
    color: #fff;
}
.custom_modal{
    -webkit-box-shadow: 0px 0px 7px 2px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 7px 2px rgba(255,255,255,1);
    box-shadow: 0px 0px 7px 2px rgba(255,255,255,1);
    background-color: #0277bd;
    border: 8px double #fff
}

.user-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-profile:hover{
    color: #ccc;
    cursor: pointer;
}

.header-menu{
    display: none;
    z-index: 1; 
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(153,153,153,.4);
    right: 5px;
    flex-direction: column;
}

.header-menu li{
    padding: 7px 50px;
    transition: .4s;
}

.header-menu li:hover{
    background-color: #d3d3d3;
    color: #4CAEFF;
}

.header-menu a{
    text-decoration: none;
    color: rgb(63, 63, 63);
}

.user-profile:hover .header-menu{
    display: block;
}

footer a{
    text-decoration: none !important;
    color: #fff;
}

footer a:hover{
    color: #D2D3D3;
}

footer{
    background: linear-gradient(to bottom, rgba(56,59,68,1) 0%,rgba(46,47,52,1) 100%);
    color: #fff;
    padding-top: 10px;
}

.footer-social-links i{
    font-size: 20px;
    margin: 5px;    
}