@media (max-width : 1650px) {
    .tour-item .title,
    .tour-item .price,
    .tour-item .duration{
        font-size: 15px;

    }

    .tour-item .stars i,
    .tour-item span{
        font-size: 13px;
    }

    .tour-item img {
        height: 170px;
    }

    .saved-item .d-column{
        font-size: 13px;
    }

    .saved-item .description{
        font-size: 13px;
    }

    .saved-item img{
        height: 190px;
    }

    .saved-item #org-profile-photo{
        width: 90px;
        height: 90px;
    }

    .phone-box{
        margin: 0;
    }

    .tour-menu-list{
        font-size: 13px;
    }

    .number{
        width: 20px;
        height: 20px;
    }

    .cover-photo{
        height: 230px;
    }
    .profile-photo {
        width: 110px;
        height: 110px;
    }

    .profile-img-box i {
        font-size: 20px;
    }
    .cover-img-box label{
        font-size: 15px;
    }
    #addTourForm label,
    .organizer-edit-form label{
        font-size: 13px;
    }

    #addTourForm h3{
        font-size: 20px;
    }
    #addTourForm span{
        font-size: 13px;
    }
    #addTourForm button{
        font-size: 14px;
    }

    .form-input:not(textarea), 
    .custom-select,
    .organizer-edit-form input{
        height: 40px;
        font-size: 13px;
    }

    .organizer-edit-form textarea{
        font-size: 13px;
    }

    .form-input::placeholder,
    .organizer-edit-form input::placeholder{
        font-size: 15px;
    }

    .photos-box img {
        height: 110px;
    }
    .tour-complete-icon {
        width: 250px;
    }
    .organizer-menu a {
        padding: 20px;
    }
    .organizer-menu i{
        font-size: 15px;
    }
    .organizer-menu span{
        font-size: 13px;
    }
    .org-cover-photo{
        height: 200px;
    }

    .org-profile-photo {
        width: 170px;
        height: 170px;
    }
    .add-img-box{
        font-size: 13px;
    }
}

@media (max-width : 1500px) {
    .custom-container,
    .inner-container{
        max-width: 90%;
    }

    .saved-item .description{
        display: none;
    }
    .cover-photo-box .company-name-box {
        padding: 10px 260px;
    }

    .company-infos{
        font-size: 13px;
    }

    .photo-list img {
        height: 160px;
    }

    footer{
        font-size: 13px;
    }

    .footer-social-links i {
        font-size: 15px;
    }
   
    .organizer-edit-form{
        font-size: 13px;
    }

    .edit-photo-box img {
        height: 320px;
    }
    .company-admin-container a {
        height: 220px;
    }

    .company-admin-container img {
        width: 45px !important;
    }

    .company-admin-container a {
        height: 200px;
    }

    .company-admin-container span{
        font-size: 16px;
    }
    .about-box{
        font-size: 13px;
        margin: 0;
    }

    .about-page-logo{
        width: 40%;
    }

    #organizerActions .tour-item img{
        height: 200px;
    }

    .info-list {
        flex-direction: column;
    }

    .info-list li{
        margin-bottom: 10px;
    }

}

@media (max-width : 1400px) {
    .delete-edit-box .edit-btn{
        width: 40px;
        height: 40px;
    }

    .delete-edit-box .delete-btn{
        width: 40px;
        height: 40px;
        padding: 0px !important;
    }
}

@media (max-width : 1200px) {
    

    .tour-item .title,
    .tour-item .price{
        font-size: 15px;
    }

    .tour-item .title{
        margin-bottom: 5px !important;
    }

    .tour-item .card-body{
        padding-bottom: 5px;
    }

    .tour-item .duration{
        font-size: 13px;
    }

    .tour-item .stars i,
    .tour-item span{
        font-size: 11px;
    }

    .tour-item img {
        height: 160px;
    }

    .tour-list .col-12{
        padding: 0px 5px;
    }

    .inner-container{
        max-width: 95%;
    }

    .tour-search {
        width: 55%;
    }

    .filter-menu-list{
        width: 90%;
        font-size: 11px;
    }    
    .tour-menu-list{
        flex-direction: row !important;
    }

    .tour-menu-list li{
        flex-grow: 1;
        margin-right: 10px;
        padding: 10px 0;
        justify-content: center;
    }
    .org-edit-profile{
        order: -1;
        margin-bottom: 10px;
    }

    .org-edit-profile .profile-photo-box{
        margin-top: 0px !important;
    }

    .org-profile-photo {
        width: 200px;
        height: 200px;
    }
    .edit-photo-box img {
        height: 240px;
    }

    .saved-item img {
        height: 150px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .saved-item #org-profile-photo {
        width: 70px;
        height: 70px;
    }

    .saved-item .org-name {
        font-size: 15px;
        margin-bottom: 5px !important;
    }

    .saved-item .d-column {
        font-size: 11px;
    }

    .saved-item {
        border-radius: 10px;
    }

    .search-block .search-input {
        height: 30px;
    }
    .company-admin-container img {
        width: 40px !important;
    }
    .company-admin-container a {
        height: 150px;
    }
    .company-admin-container span {
        font-size: 13px;
    }

    .user-profile img {
        width: 35px;
        height: 35px;
    }
    .phone-box {
        padding: 25px 25px;
    }
    .company-photos img {
        height: 150px;
    }
    .change-photo-btn, .save-btn, .delete-btn{
        padding: 5px 25px;
        font-size: 13px;
    }
    .change-photo-btn i{
        font-size: 14px;
    }
    .user-profile{
        font-size: 13px;
    }
    .user-profile img {
        width: 30px;
        height: 30px;
    }
    .wactop-logo{
        width: 150px !important;
    }

    .tour-edit-photos img{
        height: 140px;
    }

    .filter-list-menu div{
        margin-bottom: 10px;
    }
}

@media (max-width : 992px){
    #addTourForm h3{
        font-size: 17px;
        margin-left: 10px;
    }
    #addTourForm span{
        font-size: 12px;
        margin-left: 10px;
    }
    #org-menu-nav{
        display: none;
    }

    .custom-container{
        max-width: 95%;
    }

    .organizer-actions .tour-item img{
        height: 180px;
    }

    #tourSave{
        margin-bottom: 100px;
    }

    .company-photos img {
        height: 200px;
    }

    .tour-prof-edit{
        flex-direction: row !important;
    }

    .tour-prof-edit img{
        margin-right: 10px;
    }

    .tour-edit-photos img{
        height: 160px;
    }

    .company-name-box {
        padding: 20px 0px 15px 0px;
    }

    .company-name-box h3{
        font-size: 25px;
    }
}

@media ( max-width : 768px ){
    

    .change-photo-btn {
        padding: 5px 30px;
    }

    .save-btn{
        padding: 0px 30px;
    }

    .saved-item img {
        height: 180px;
    }

    .saved-item #org-profile-photo {
        width: 90px;
        height: 90px;
    }

    .about-icon-box{
        display: none;
    }
    .about-page-logo {
        width: 60%;
        margin-bottom: 20px;
    }

    .contact-letter-box{
        display: none;
    }

    .tour-edit-photos .form-group:not(:last-child){
        font-size: 13px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #727272;
        padding-bottom: 5px;
    }

    #organizerActions .tour-item img {
        height: 250px;
    }

    .tour-edit-photos img{
        height: 130px;
    }

    .styled-checkbox+label:before {
        width: 15px;
        height: 15px;
    }

    .styled-checkbox:checked+label:after {
        left: 2px;
        top: 8px;
    }
}

@media ( max-width : 577px ) {
    .custom-container, .inner-container{
        max-width: 100%;
    }

    .tour-list .col-12{
        padding: 0px;
    }

    .tour-item .title{
        font-size: 20px;
    }

    .tour-item .price,
    .tour-item .duration{
        font-size: 18px;

    }

    .tour-item .stars i,
    .tour-item span{
        font-size: 16px;
    }

    .tour-item img {
        height: 300px;
        border-radius: unset;
    }

    .tour-item{
        border-radius: 0px;
        border: unset;
    }

    .tour-search{
        width: 80%;
    }

    .filter-menu-list{
        flex-wrap: wrap;
        justify-content: center;
    }

    .filter-menu-list a{
        font-size: 12px;
    }

    .filter-menu-list li{
        padding: 10px;
    }

    .filter-menu-list span{
        display: none;
    }

    .saved-item img {
        height: 270px;
    }

    .saved-item #org-profile-photo {
        width: 140px;
        height: 140px;
    }

    .saved-item .description{
        display: block;
    }

    .saved-item img{
        border-radius: unset;
    }

    .saved-item {
        border: unset;
        border-radius: unset;
        margin-bottom: 40px;
        border-bottom: 1px solid #7aa8ff;
    }

    .organizer-list .col-12{
        padding: 0px !important;
    }

    .organizer-list{
        margin-bottom: 0px;
    }

    .tour-menu-list{
        flex-direction: column !important;
    }

    .tour-menu-list li{
        justify-content: start;
    }

    .cover-photo {
        height: 170px;
    }

    .tour-profile-photo {
        bottom: -40px;
        left: 20px;
    }
    .form-input:not(textarea), .custom-select, .filter-open-btn {
        height: 35px;
        font-size: 13px;
    }  
    
    .form-input::placeholder{
        font-size: 13px;
    }
    #start-end-date-box{
        margin-bottom: 10px !important;
    }

    .col-xl-11{
        padding: 0 !important;
    }

    .tour-complete-icon{
        display: none;
    }

    .photos-box img {
        height: 130px;
    }

    .organizer-edit-form .col-12{
        padding: 0;
    }
    .company-photos img{
        height: 150px;
    }

    .company-admin-container a {
        height: 250px;
    }

    .photo-list img {
        height: 250px;
    }

    .cover-photo-box .cover-photo {
        height: 300px;
    }

    .cover-photo-box .company-name-box {
        padding: 10px;
        padding-left: 35%;
    }

    

    .info-list li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .form-steps-btn{
        display: block;
    }
    .tour-menu-list-nav{
        display: none;
    }

    .company-admin-container img {
        width: 75px !important;
    }
    
    .company-admin-container span {
        font-size: 16px;
    }

    .guides-instructors h3,
    .guides-instructors h4{
        margin-left: 10px;
        padding-left: 10px;
    }

    .guides-instructors{
        margin-top: 100px !important;
    }

    .add-guide-form label{
        margin: 0px;
        font-size: 13px;
    }

    .add-guide-form .col-3{
        display: flex;
        align-items: center;
    }

    .add-guide-form input[type='submit'] { 
        font-size: 13px;
        padding: 5px 10px;
    }

    .table{
        font-size: 13px;
    }

    .change-pass-form label{
        font-size: 13px;
    }

    .edit-user-form .col-sm-7{
        padding: 0px;
        font-size: 13px;
    }

    .edit-user-form label{
        margin: 0;
        font-weight: bold;
        color: #727272;
    }
    .btn-mob{
        font-size: 13px;
    }
   
    .edit-delete-box{
        right: 25px;
    }

    .tour-prof-img-box .col-12{
        padding: 0px !important;
    }

    .add-img-box{
        flex-direction: column;
    }
    #tourBasics .col-3{
        padding-left: 0px;
    }
    #tourBasics .col-9{
        padding-right: 0px;
    }

    .form-input{
        font-size: 13px;
    }
  
    .tour-prof-edit{
        flex-direction: column !important;
    }

    .org-profile-photo {
        width: 230px;
        height: 230px;
    }

    .copmany-infos-block {
        padding: 25px 10px;
    }

    .copmany-infos-block .tour-item img{
        height: 220px;
    }

    #organizerActions .tour-item .stars i, 
    #organizerActions .tour-item span,
    #organizerActions .tour-item i {
        font-size: 12px;
    }
    #organizerActions .tour-item .price, 
    #organizerActions .tour-item .duration {
        font-size: 15px;
    }

    #organizerActions .tour-item .delete-edit-box button,
    #organizerActions .tour-item .delete-edit-box span{
        height: 50px;
    }

    #organizerActions .tour-item .title{
        flex-direction: column !important;
    }
    .edit-photo-box img {
        height: 300px;
    }

    .mob-column{
        flex-direction: column;
    }

    #tourDescription .col-12{
        padding: 0px;
    }
    .header-menu{
        margin-top: 10px;
    }

    .table td, .table th {
        padding: 5px !important;
    }
    .menu_btn{
        padding: 5px 7px;
        margin: 12px 0px;
        width: 38px;
        height: 33px;
    }

    .wactop-logo {
        width: 140px !important;
    }

    .tour-edit-photos img{
        height: 250px;
    }

    .current-maplink{
        display: none;
    }

    .org-register-form label{
        font-size: 13px;
    }

    .helptext ul li{
        font-size: 13px;
    }

    .comp-img-container{
        justify-content: center;
    }

    .company-name-box h3{
        font-size: 20px;
    }

    .comp-name-container{
        max-width: 85%;
    }

    .delete-edit-box .delete-btn{
        height: 40px !important;
    }
}


@media (max-width : 470px){
    .company-links span{
        display: none;
    }
}


@media (max-width: 450px){
    .photos-box img {
        height: 100px;
    }

    .profile-photo {
        width: 100px;
        height: 100px;
    }
    
    .username{
        display: none;
    }

    .tour-edit-photos img{
        height: 230px;
    }
    .company-admin-container a {
        height: 190px;
    }
}