@media (max-width: 1200px){
    .user-profile img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 1024px) {
    .container{
        padding:20px 55px;
    }
}
    
@media (max-width : 576px){
    .form-box {
        width: 100%;
        align-items: center;
    }
    .info-list li {
        align-items: center;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }
    label {
        font-size: 13px;
    }
    ::placeholder{
        font-size: 14px;
    }

    .wactop-logo {
        width: 140px !important;
        margin: 6px 0px;
    }

    .footer-bottom{
        font-size: 13px;
    }
    .footer-social-links i{
        font-size: 15px;
    }

    #partners-crsl {
        width: 65% !important;
    }

    #partners-crsl img {
        height: 105px !important;
    }

}
@media (max-width : 500px){
    #footer{
        position: static;
    }
    .menu-box-in-head{
        height: 47px;
    }
    .close-btn{
        width: 40px;
    }
    .close-btn svg{
        width: 15px;
    }
    .head-up-left img {
        width: 120px;
    }
    .head-up-left svg{
        width: 20px;
    }
    .modal-content{
        width: 100%;
    }
    #main{
        min-height: 510px;
    }
    .inner{
        width: 100%;
    }
    .social-media svg{
        width: 14px;
    }
    .social-media li{
        padding: 0;
    }
    .foot-list{
        margin: 0;
    }
    #footer a{
        font-size: 13px;
    }
    #footer p {
        font-size: 13px;
    }
    .ins-icon{
        margin: 0 20px;
    }
}
@media (max-width: 425px)
{
    .inner {
        padding: 7px 20px;
}
}
@media (max-width : 400px){
    .menu-box-in{
        width: 240px;
    }
    .menu-box-in-head img {
        left: 40px;
    }
    #main{
        min-height: 400px;
    }
    
  }

@media (max-width: 340px) {
    .social-media svg {
        width: 14px;
    }
    #footer p {
        font-size: 10px;
    }
    .ins-icon {
        margin: 0px 11px;
    }
}

