<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Tour</title>
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/fontawesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Css files -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-page.css' %}">
    
</head>

<body>
    
    {% include 'partials/header.html' %}
    {% include 'partials/main-menu.html' %}

  
    <main>
        <div class="row justify-content-center">
            <div class="col-2 p-0 bg-white " id="menu-column">
                {% include 'partials/organizer-menu.html' %}
            </div>
            <div class="col-10">
                <div class="custom-container mt-5 mb-5">
                    <div class="">
                        <div class="row">
                            <div class="col-3">
                                <nav class="full">
                                    <ul class="full tour-menu-list d-column" id="formControlMenu">
                                        <li data-target="tourBasics">
                                            <div class="number">1</div>
                                            <span>Tour Basics</span>
                                        </li>
                                        <li data-target="tourDescription">
                                            <div class="number">2</div>
                                            <span>Tour Descriptions</span>
                                        </li>
                                        <li data-target="tourPhotos">
                                            <div class="number">3</div>
                                            <span>Tour Photos</span>
                                        </li>
                                        <li data-target="tourSchedules">
                                            <div class="number">4</div>
                                            <span>Tour Schedules</span>
                                        </li>
                                    </ul>
                                    
                                    <div class="full preview-info">
                                        <span>Finish? If you want to see how it looks, click "Preview" <i class="fas fa-arrow-circle-down ml-1"></i></span>
                                    </div>

                                    <a href="#" class="preview-btn btn">Preview</a>
                                </nav>
                            </div>
                            <div class="col-9">
                                <form method="post" enctype="multipart/form-data" id="addTourForm">
                                    {% csrf_token %}
                                    
                                    {{tour_form.management_form}}
                                    {{detail_form.management_form }}
                                    {{image_form.management_form}}
                                    {{schedule_form.management_form}}


                                    <div id="tourBasics">
                                        <div class="d-column border-bottom pb-2 mb-4">
                                            <h3 class="full bold ">
                                                Let's start adding new Tour
                                            </h3>
                                            <span>First you have to write basic information about your new tour :)</span>
                                        </div>
                                        
                                        <div class="form-box">
                                            <div class="form-group row p-relative" style="margin-bottom: 80px;">
                                                <!-- Tour Cover Photo -->
                                                <div class="d-flex add-img-box cover-img-box"> 
                                                    <label for="coverPhotoInput"><i class="fas fa-camera mr-2"></i>Cover Photo</label>
                                                    {{tour_form.avatar}}
                                                </div>
                                                <img id="coverPhoto" class="cover-photo" src="{% static 'images/default-tour-photo.jpg' %}" alt="your image" />
                                                
                                                <!-- Tour Profile Photo -->
                                                <div class="tour-profile-photo">
                                                    <div class="p-relative">
                                                        <div class="d-flex add-img-box profile-img-box">
                                                            <label for="profilePhotoExample">
                                                                <i class="fas fa-camera"></i>
                                                            </label>
                                                            {{tour_form.cover}}
                                                        </div>
                                                        <img id="profilePhoto" class="profile-photo" src="{% static 'images/default-tour-photo.jpg' %}" alt="your image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class='col-3'>
                                                    {{tour_form.title.label_tag}}
                                                </div>
                                                <div class='col-9'>
                                                    {{tour_form.title}}
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <div class='col-3'>
                                                    {{tour_form.country.label_tag}}
                                                </div>
                                                <div class='col-9'>
                                                    {{tour_form.country}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class='col-3'>
                                                    {{tour_form.city.label_tag}}
                                                </div>
                                                <div class='col-9'>
                                                    {{tour_form.city}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class='col-3'>
                                                    {{tour_form.address.label_tag}}
                                                </div>
                                                <div class='col-9'>
                                                    {{tour_form.address}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class='col-3'>
                                                    {{tour_form.tour_type.label_tag}}
                                                </div>
                                                <div class='col-9'>
                                                    {{tour_form.tour_type}}
                                                </div>
                                                
                                            </div>
                                            <div class="form-group row">
                                                <div class='col-3'>
                                                    {{tour_form.pricefor.label_tag}}
                                                </div>
                                                <div class='col-9'>
                                                    {{tour_form.pricefor}}
                                                </div>
                                                
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-3">Price & Currency</label>
                                                <div class="col-9">
                                                    <div class="full row">
                                                        <div class="col-6 pl-0">
                                                            {{tour_form.price}}
                                                        </div>
                                                        <div class="col-6 pr-0">
                                                            {{tour_form.currency}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-3">Duration Day & Night</label>
                                                <div class="col-9">
                                                    <div class="full row">
                                                        <div class="col-6 pl-0">
                                                            {{tour_form.durationday}}
                                                        </div>
                                                        <div class="col-6 pr-0">
                                                            {{tour_form.durationnight}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-3">Start & End Date</label>
                                                <div class="col-9 ">
                                                    <div class="full row">
                                                        <div class="col-6 pl-0">
                                                            {{tour_form.datefrom}}
                                                        </div>
                                                        <div class="col-6 pr-0">
                                                            {{tour_form.dateto}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class='col-3'>
                                                    {{tour_form.guide.label_tag}}
                                                </div>
                                                <div class='col-9'>
                                                    {{tour_form.guide}}
                                                </div>
                                            </div>
                                            <div class="d-flex full justify-content-end">
                                                <button type="button" class="btn btn-outline-success pr-4 pl-4 next_btn" data-target="tourDescription">
                                                    Next
                                                    <i class="fas fa-angle-double-right ml-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div id="tourDescription" style="display: none;">
                                        <div class="d-column border-bottom pb-2 mb-4">
                                            <h3 class="full bold ">
                                                In this form you can write more information about your tour
                                            </h3>
                                            <span>Click "Add new Paragraph", if you need to add more paragraph.</span>
                                        </div>
                                        <div class="form-box">
                                            <div class="form-group row">
                                                <div class='col-12'>
                                                    {{tour_form.descriptionen.label_tag}}
                                                </div>
                                                <div class='col-12'>
                                                    {{tour_form.descriptionen}}
                                                </div>
                                            </div>
                                            
                                            <div id="text-forms">
                                                {% for form in detail_form %}
                                                    <div class="form-group row">
                                                        <div class='col-12'>
                                                            {{form.title.label_tag}}
                                                        </div>
                                                        <div class='col-12'>
                                                            {{form.title}}
                                                        </div>
                                                        <div class='col-12'>
                                                            {{form.text}}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <div class="form-group justify-content-end d-flex">
                                                <button type="button" class="add_detail_btn" onclick = 'adddetail()' style="outline: none;">
                                                    <i class="fas fa-plus-circle mr-2"></i>
                                                    Add new Paragraph
                                                </button>
                                            </div>
                                            <div class="d-flex full justify-content-end">
                                                <button type="button" class="btn btn-outline-success pr-4 pl-4 next_btn" data-target="tourPhotos">
                                                    Next
                                                    <i class="fas fa-angle-double-right ml-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div id="tourPhotos" style="display: none;">
                                        <div class="d-column border-bottom pb-2 mb-4">
                                            <h3 class="full bold ">
                                                Add Tour Photos using this form
                                            </h3>
                                            <span>Click "Add another Photo", if you need to add more photos (limit is 10)</span>
                                        </div>
                                       
                                        <div class="form-box">
                                            <div class="photos-box row" id="photo-form-box">
                                                {% for form in image_form %}
                                                    <div class="photo-item col-3">
                                                        <img src="{% static 'images/default.png' %}" alt="">
                                                        <div class="d-flex add-img-box"> 
                                                            {{form.image.label_tag}}
                                                            {{form.image}}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="form-group d-flex justify-content-end">
                                                <button type="button" class="add_detail_btn" onclick="addPhoto()" style="outline: none;">
                                                    <i class="fas fa-plus-circle mr-2"></i>
                                                    Add another Photo   
                                                </button>
                                            </div>
                                            <div class="d-flex full justify-content-end">
                                                <button type="button" class="btn btn-outline-success pr-4 pl-4 next_btn" data-target="tourSchedules">
                                                    Next
                                                    <i class="fas fa-angle-double-right ml-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="tourSchedules" style="display: none;">
                                        <div class="d-column border-bottom pb-2 mb-4">
                                            <h3 class="full bold ">
                                                Add Tour Schedules using this form
                                            </h3>
                                            <span>Click "Add another Schedule", if you need to add more schedules (limit is 10)</span>
                                        </div>
                                        <div class="form-box">
                                            <div class="photos-box row" id="schedule-form-box">
                                                {% for form in schedule_form %}
                                                    <div class="photo-item schedule-item col-3">
                                                        <img src="{% static 'images/default.png' %}" alt="">
                                                        <div class="d-flex add-img-box"> 
                                                            {{form.image.label_tag}}
                                                            {{form.image}}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="form-group d-flex justify-content-end">
                                                <button type="button" class="add_detail_btn" onclick="addSchedule()" style="outline: none;">
                                                    <i class="fas fa-plus-circle mr-2"></i>
                                                    Add another Schedule   
                                                </button>
                                            </div>

                                            <div class="d-flex full justify-content-end">
                                                <input type="submit" value="Save Tour" class="btn btn-success">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <nav class="footer-menu">
                        <ul class="d-column">
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                            <li>
                                <a href="#">Privacy</a>
                            </li>
                        </ul>
                        <p><i class="far fa-copyright"></i> 2019</p>
                    </nav>
                </div>
                <div class="col-4">
                    <div class="d-column align-center">
                        <span class="mb-2 mt-2 text-center">Follow Us</span>
                        <ul class="footer-social-links d-flex justify-content-center" >
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <a href="#">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/organizer.js' %}"></script>


    <script>

        // Photo and schedule input labels were same, that is why I have to add one of them manually
        var schedule_label_list = $('#schedule-form-box').find('label')
        var schedule_input_list = $('#schedule-form-box').find('.schedule-input')

        for(var i=0; i<schedule_label_list.length; i++){
            $(schedule_label_list[i]).attr('for',`schedule-input-${i}`)
            $(schedule_input_list[i]).attr('id',`schedule-input-${i}`)
        }


        // Function to assign selected photo to particular img tag
        function readURL(input,place) {
           if (input.files && input.files[0]) {
               var reader = new FileReader();

                reader.onload = function (e) {
                   $(place).attr('src', e.target.result);
                }
               reader.readAsDataURL(input.files[0]);
           }
       }

        
        $('.photo-input').change(function(){
            console.log('okkk-tour');
            var photo = $(this).parents('.photo-item').find('img')
            readURL(this,$(photo));
        })

        $('.schedule-input').change(function(){
            console.log('okkk-schedule');
            var schedule = $(this).parent('.add-img-box').siblings('img')
            console.log(schedule);
            readURL(this,$(schedule));
        })

        
        $("#profilePhotoExample").change(function(){
            readURL(this,$('#profilePhoto'));
        });

        $("#coverPhotoInput").change(function(){
            readURL(this,$('#coverPhoto'));
        });
   </script>


   <script>
       $('.menu_btn').click(function(){
            $('#menu-column').animate({
                width : 'toggle'
            });
       })
   </script>

    

</body>
</html>