<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{organizer.organizer_name}}</title>

    <link rel="icon"  type="image/png" href="{% static 'images/wactop-fav-4.png' %}">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/fontawesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Css files -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-page.css' %}">
    
    <!-- carousel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
 
    <!-- FancyBox -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'css/responsive-latest.css' %}">

    <style>
        .shadow{
            -webkit-box-shadow: 0px 0px 17px -7px rgba(0,0,0,1);
            -moz-box-shadow: 0px 0px 17px -7px rgba(0,0,0,1);
            box-shadow: 0px 0px 17px -7px rgba(0,0,0,1);
        }

       
    </style>
</head>

<body>
    
    {% include 'partials/header.html' %}
    {% include 'partials/main-menu.html' %}

  
    <main>
        <div class="cover-photo-box p-relative">
            {% if organizer.cover %}
                <img src="{{organizer.cover.url}}" class="cover-photo" alt="">
            {% else %}
                <img src="{% static 'images/default.png' %}" class="cover-photo" alt="">
            {% endif %}

            <div class="company-prof-img-box">
                <div class="comp-img-container">
                    <div class="company-img-bg">
                        {% if organizer.profile_photo %}
                            <img src="{{organizer.profile_photo.url}}" class="profile-photo" alt="">
                        {% else %}
                            <img src="{% static 'images/default.png' %}" class="profile-photo" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
            
        </div>
        <div class="full comp-name-bg">
            <div class="comp-name-container">
                <div class="row">
                    <div class="company-name-box">
                        <h3 class="bold m-0"> 
                            {{organizer.organizer_name}}
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-container copmany-infos-block">
            <div class="row mb-4 company-infos">
                
                <div class="col-lg-8">
                    
                    <div class="mb-5 pl-sm-3">
                        <h5 class="full bold border-bottom pb-2 mb-3">Description</h5>
                        <p class="description">
                            {{organizer.description}}
                        </p>
                    </div>
                    
                    <div class="pl-sm-3"> 
                        <ul class="info-list border-bottom pb-2 mb-4">
                            <li>
                                <div class="align-center mr-1">
                                    <i class="fas fa-map-marker-alt"></i>
                                    Address : 
                                </div>
                                <span>{{organizer.address}}</span>
                            </li>
                            <li>
                                <div class="align-center mr-1">
                                    <i class="far fa-envelope"></i>
                                    Email : 
                                </div>
                                <span>{{organizer.user.email}}</span>
                            </li>
                        </ul>
                        
                        <h5 class="full bold border-bottom pb-2 mb-3">Social Links</h5>
                        <ul class="company-links">
                            <li>
                                <div class="mr-1">
                                    <i class="fas fa-external-link-alt"></i>
                                    Website : 
                                </div>
                                <a href="{{organizer.website}}" target="blank"><span>{{organizer.organizer_name|truncatechars:30}}</span> Website Address</a>
                            </li>
                            <li>
                                <div class="align-center mr-1">
                                    <i class="fas fa-external-link-alt"></i>
                                    Facebook : 
                                </div>
                                <a href="{{organizer.facebook}}" target="blank"><span>{{organizer.organizer_name|truncatechars:30}}</span> FaceBook Address</a>
                            </li>
                            <li>
                                <div class="align-center mr-1">
                                    <i class="fas fa-external-link-alt"></i>
                                    Instagram : 
                                </div>
                                <a href="{{organizer.instagram}}" target="blank"><span>{{organizer.organizer_name|truncatechars:30}}</span> Instagram Address</a>
                            </li>
                            
                        </ul>
                    </div>
        
                </div>
                <div class="col-lg-4">
                    <div class="phone-box">
                        <h5 class="full bold border-bottom text-center pb-2 mb-4">Contact</h5>
                        <div class="d-column">
                            <div class="d-flex justify-content-center phone-item">
                                <div class="align-center mr-2">
                                    <i class="fas fa-phone-alt"></i>
                                    Number 1 : 
                                </div>
                                {% if organizer.contact_number_1 %}
                                    <span class="phone">{{organizer.contact_number_1}}</span>
                                {% else %}
                                    <span class="phone">xxx xxx xx xx</span>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-center phone-item">
                                <div class="align-center mr-2">
                                    <i class="fas fa-phone-alt"></i>
                                    Number 2 :
                                </div>
                                {% if organizer.contact_number_2 %}
                                    <span class="phone">{{organizer.contact_number_2}}</span>
                                {% else %}
                                    <span class="phone">xxx xxx xx xx</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                {% if guides %}
                <h2 class="full bold border-bottom pb-2 mb-4">Guides</h2>
                
                <div class="inner-container full">
                    
                    <table class="table mb-5">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Experience</th>
                            <th scope="col">Certifications</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                            {% for guide in guides %}
                                <tr>
                                    <td>{{guide.name}}</td>
                                    <td>{{guide.surname}}</td>
                                    <td>{{guide.experience}}</td>
                                    <td>{{guide.certification}}</td>
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>

                {% endif %}

                {% if instructors %}
                    <h2 class="full bold border-bottom pb-2 mb-4">Instructors</h2>
                    
                    <div class="inner-container full">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Surname</th>
                                <th scope="col">Experience</th>
                                <th scope="col">Certifications</th>
                                
                            </tr>
                            </thead>
                            <tbody>
                                {% for instructor in instructors %}
                                    <tr>
                                        <td>{{instructor.name}}</td>
                                        <td>{{instructor.surname}}</td>
                                        <td>{{instructor.experience}}</td>
                                        <td>{{instructor.certification}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>

            {% if tours %}
                <div class="row">
                    <h2 class="full bold border-bottom pb-2 mb-3">Tours</h2>
                        <div class="owl-carousel owl-theme">
                            {% for tour in tours %}
                                <div class="item">
                                    <div class="tour-item">
                                        <a href="{% url 'tour:detail' tour.pk %}" class="full">
                                            <div class="d-column full">
                                                {% if tour.avatar %}
                                                    <img src="{{tour.avatar.url}}" alt="">
                                                {% else %}
                                                    <img src="{% static 'images/default.png' %}" alt="">
                                                {% endif %}
                                                <div class="card-body">
                                                    <div class="title border-bottom mb-3">
                                                        {{tour.title}}
                                                    </div>
                                                    <div class="d-column">
                                                            
                                                        <div class="d-flex">
                                                            <span class="bold mr-2">Location : </span>
                                                            <span>{{tour.city}}, {{tour.country}}</span>
                                                        </div>
                                                        <div class="d-flex">
                                                            <span class="bold mr-2">Company : </span>
                                                            <span>{{tour.organizer.organizer_name|truncatechars:20}}</span>
                                                        </div>
                                                        <div class="d-flex full justify-content-between mt-3">
                                                            <div class="price">
                                                                {% if tour.discount %}
                                                                    {{tour.discount_price}} {{tour.currency}}
                                                                    <span style="text-decoration: line-through; font-weight: bold;">{{tour.price}} {{tour.currency}}</span>
                                                                {% else %}
                                                                    {{tour.price}} {{tour.currency}}
                                                                {% endif %}
                                                            </div>
                                                            <div class="duration align-center">
                                                                <i class="far fa-clock mr-1"></i>
                                                                {% if tour.get_duration_day %}
                                                                    {{tour.get_duration_day}} days
                                                                {% else %}
                                                                    Always
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex full justify-content-end">
                            <a href="{% url 'main:organizer-tours' organizer.organizer_name %}">Show all</a>
                        </div>
                </div>
            {% endif %}

            {% if trainings %}
                <div class="row">
                    <h2 class="full bold border-bottom pb-2 mb-3">Trainings</h2>
                        <div class="owl-carousel owl-theme">
                            {% for tour in trainings %}
                                <div class="item">
                                    <div class="tour-item">
                                        <a href="{% url 'tour:detail' tour.pk %}" class="full">
                                            <div class="d-column full">
                                                {% if tour.avatar %}
                                                    <img src="{{tour.avatar.url}}" alt="">
                                                {% else %}
                                                    <img src="{% static 'images/default.png' %}" alt="">
                                                {% endif %}
                                                <div class="card-body">
                                                    <div class="title border-bottom mb-3">
                                                        {{tour.title}}
                                                    </div>
                                                    <div class="d-column">
                                                            
                                                        <div class="d-flex">
                                                            <span class="bold mr-2">Location : </span>
                                                            <span>{{tour.city}}, {{tour.country}}</span>
                                                        </div>
                                                        <div class="d-flex">
                                                            <span class="bold mr-2">Company : </span>
                                                            <span>{{tour.organizer.organizer_name|truncatechars:20}}</span>
                                                        </div>
                                                        <div class="d-flex full justify-content-between mt-3">
                                                            <div class="price">
                                                                {% if tour.discount %}
                                                                    {{tour.discount_price}} {{tour.currency}}
                                                                    <span style="text-decoration: line-through; font-weight: bold;">{{tour.price}} {{tour.currency}}</span>
                                                                {% else %}
                                                                    {{tour.price}} {{tour.currency}}
                                                                {% endif %}
                                                            </div>
                                                            <div class="duration align-center">
                                                                <i class="far fa-clock mr-1"></i>
                                                                {% if tour.get_duration_day %}
                                                                    {{tour.get_duration_day}} days
                                                                {% else %}
                                                                    Always
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex full justify-content-end">
                            <a href="{% url 'main:organizer-trainings' organizer.organizer_name %}">Show all</a>
                        </div>
                </div>
            {% endif %}

            {% if activities %}
                <div class="row">
                    <h2 class="full bold border-bottom pb-2 mb-3">Activities</h2>
                        <div class="owl-carousel owl-theme">
                            {% for tour in activities %}
                                <div class="item">
                                    <div class="tour-item">
                                        <a href="{% url 'tour:detail' tour.pk %}" class="full">
                                            <div class="d-column full">
                                                {% if tour.avatar %}
                                                    <img src="{{tour.avatar.url}}" alt="">
                                                {% else %}
                                                    <img src="{% static 'images/default.png' %}" alt="">
                                                {% endif %}
                                                <div class="card-body">
                                                    <div class="title border-bottom mb-3">
                                                        {{tour.title}}
                                                    </div>
                                                    <div class="d-column">
                                                            
                                                        <div class="d-flex">
                                                            <span class="bold mr-2">Location : </span>
                                                            <span>{{tour.city}}, {{tour.country}}</span>
                                                        </div>
                                                        <div class="d-flex">
                                                            <span class="bold mr-2">Company : </span>
                                                            <span>{{tour.organizer.organizer_name|truncatechars:20}}</span>
                                                        </div>
                                                        <div class="d-flex full justify-content-between mt-3">
                                                            <div class="price">
                                                                {% if tour.discount %}
                                                                    {{tour.discount_price}} {{tour.currency}}
                                                                    <span style="text-decoration: line-through; font-weight: bold;">{{tour.price}} {{tour.currency}}</span>
                                                                {% else %}
                                                                    {{tour.price}} {{tour.currency}}
                                                                {% endif %}
                                                            </div>
                                                            <div class="duration align-center">
                                                                <i class="far fa-clock mr-1"></i>
                                                                {% if tour.get_duration_day %}
                                                                    {{tour.get_duration_day}} days
                                                                {% else %}
                                                                    Always
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex full justify-content-end">
                            <a href="{% url 'main:organizer-activities' organizer.organizer_name %}">Show all</a>
                        </div>
                </div>
            {% endif %}
            
            {% if images %}
                <div class="row">
                    <h2 class="full bold border-bottom pb-2 mb-3">Photos</h2>
                    <div class="owl-carousel owl-theme photo-list">
                        {% for image in images %}
                            <div class="item">
                                <a data-fancybox="gallery" class="full" href="{{image.image.url}}">
                                    <img src="{{image.image.url}}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </main>

    {% include 'partials/footer.html' %}

    
    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/organizer.js' %}"></script>


    <script>
        function readURL(input,place) {
           if (input.files && input.files[0]) {
               var reader = new FileReader();

               reader.onload = function (e) {
                console.log(e.target.result);
                    console.log($(place));
                   $(place).attr('src', e.target.result);
               }
               
               reader.readAsDataURL(input.files[0]);
           }
       }

       $("#photo").change(function(){
           readURL(this,$('#choosen-photo'));
       });

       
       
   </script>


   <script>
       $('.menu_btn').click(function(){
            $('#menu-column').slideToggle()
       })

       $('.owl-carousel').owlCarousel({
            nav: true,
            margin: 25,
            // dots: false,
            responsive: {
                1: {
                    items: 1,
                    // dots: false
                },
                600: {
                    items: 3
                },
                1300: {
                    items: 4
                },
                1400: {
                    items: 5

                }
            }
        });

   </script>

    {% include 'partials/websocket.html' %}

</body>
</html>