<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guides & Instructors</title>

    <link rel="icon"  type="image/png" href="{% static 'images/wactop-fav-4.png' %}">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Css files -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive-latest.css' %}">


    <style>

    </style>
</head>

<body>

    {% include 'partials/header.html' %}
    {% include 'partials/main-menu.html' %}


    <main>
        <div class="row justify-content-center p-relative">
            <div class="col-xl-3 p-0" id="menu-column" >
                {% include 'partials/organizer-menu.html' %}
                <button type="button" id="organizer-menu-btn">
                    <i class="fas fa-angle-right"></i>
                </button>
            </div>
            <div class="col-xl-11">
                <div class="custom-container mt-5 mb-5 guides-instructors min-full-height">
                    <div class="row d-flex justify-content-end mb-5">
                        <h3 class="full bold border-bottom pb-2 mb-4">
                            Instructors & Guides
                        </h3>
                        <div class="d-flex link-box">
                            <a href="{% url 'organizer:add-instructor' %}" class="btn-mob">
                                <i class="fas fa-plus-circle mr-1"></i>
                                Add Instructor
                            </a>
                            <a href="{% url 'organizer:add-guide' %}"  class="btn-mob">
                                <i class="fas fa-plus-circle mr-1"></i>
                                Add Guide
                            </a>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <h4 class="full bold border-bottom pb-2 mb-4">
                            Instructors
                        </h4>
                        {% if instructors %}
                            <table class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Experience</th>
                                    <th scope="col">Certifications</th>
                                    <th scope="col">Edit & Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for instructor in instructors %}
                                        <tr>
                                            <td>{{instructor.name}}</td>
                                            <td>{{instructor.surname}}</td>
                                            <td>{{instructor.experience}}</td>
                                            <td>
                                                <a target="_blank" href="{{instructor.certification.url}}">Certification File</a>
                                            </td>
                                            <td >
                                                <a href="{% url 'organizer:instructor-edit' instructor.pk %}" class="btn btn-outline-success mr-2 btn-mob">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                                <button type="button" class="btn btn-outline-danger btn-mob" data-toggle="modal" data-target='#instructor_id_{{instructor.pk}}'>
                                                    <i class="far fa-trash-alt"></i>
                                                </button>
                                                <div class="modal fade" id="instructor_id_{{instructor.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete Instructor</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure to delete {{instructor.name}} from Instructor table?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <form action="{% url 'organizer:instructor-delete' instructor.pk %}" method="post">
                                                                {% csrf_token %}
                                                                <input type="submit" value="Delete" class="btn btn-outline-danger">
                                                            </form>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                        {% else %}
                            <h3 class="full bold text-center" style="height: 200px;">
                                No Instructors <i class="far fa-folder-open ml-2"></i>
                            </h3>
                        {% endif %}
                    </div>

                    <div class="row mb-5">
                        <h4 class="full bold border-bottom pb-2 mb-4">
                            Guides
                        </h4>
                        {% if guides %}
                            <table class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Experience</th>
                                    <th scope="col">Certifications</th>
                                    <th scope="col">Edit & Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for guide in guides %}
                                        <tr>
                                            <td>{{guide.name}}</td>
                                            <td>{{guide.surname}}</td>
                                            <td>{{guide.experience}}</td>
                                            <td>
                                                <a target="_blank" href="{{guide.certification.url}}">Certification File</a>
                                            </td>
                                            <td>
                                                <a href="{% url 'organizer:guide-edit' guide.pk %}" class="btn btn-outline-success mr-2 btn-mob">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                                <button type="button" class="btn btn-outline-danger btn-mob" data-toggle="modal" data-target='#guide_id_{{guide.pk}}'>
                                                    <i class="far fa-trash-alt"></i>
                                                </button>
                                                <div class="modal fade" id="guide_id_{{guide.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete Guide</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure to delete {{guide.name}} from Guide table?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <form action="{% url 'organizer:guide-delete' guide.pk %}" method="post">
                                                                {% csrf_token %}
                                                                <input type="submit" value="Delete" class="btn btn-outline-danger">
                                                            </form>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h3 class="full bold text-center" style="height: 200px;">
                                No Guides <i class="far fa-folder-open ml-2"></i>
                            </h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'partials/footer.html' %}

    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/organizer.js' %}"></script>


    <script>
        function readURL(input,place) {
           if (input.files && input.files[0]) {
               var reader = new FileReader();

               reader.onload = function (e) {
                console.log(e.target.result);
                    console.log($(place));
                   $(place).attr('src', e.target.result);
               }

               reader.readAsDataURL(input.files[0]);
           }
       }

       $("#photo").change(function(){
           readURL(this,$('#choosen-photo'));
       });



   </script>


    {% include 'partials/websocket.html' %}


</body>
</html>