{% load static custom-tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wactop</title>

    <link rel="icon"  type="image/png" href="{% static 'images/wactop-fav-4.png' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/home-page/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home-page/responsive.css' %}">

    <style>
        .slider-section{
            background: url({% static 'images/home-page/slider-img-1.jpg' %}) no-repeat 100% 100px,
            url({% static 'images/home-page/slider-img-4.jpg' %}) no-repeat 50px bottom;
        }

        @media (max-width:1300px) {
            .slider-section{
                background-size: 400px;
            }
        }

        @media (max-width:768px){
            .slider-section{
                background: url({% static 'images/home-page/slider-img-1.jpg' %}) no-repeat 90% 200px,
                url({% static 'images/home-page/slider-img-4.jpg' %}) no-repeat 0px bottom;
                background-size: 400px;
                padding-bottom: 200px;
                margin-bottom: 6em;
            }
        }
    </style>


</head>

<body>

    <header class="header">
        <div class="pr-2 pl-2">
            <div class="row">
                <nav class="d-flex justify-content-between align-items-center full">
                    <a href="{% url 'main:home' %}">
                        <img src="{% static 'images/wactop1.png' %}" class="logo" alt="">
                    </a>

                    <div class="d-flex">

                        {% if request.user.is_authenticated %}
                        <div class=" user-profile">
                            <div class="align-center">
                                {% if request.user.profile_img %}
                                    <img src="{{request.user.profile_img.url}}" class="user-img" alt="">
                                {% else %}
                                    <img src="{% static 'images/profile.png' %}" class="user-img"  alt="">
                                {% endif %}
                                <div class="username">
                                    <span>{{ request.user.username }}</span>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>

                            <div class="header-menu shadow" >
                                <nav>
                                    <ul class="d-column mb-0">

                                        {% if request.user.is_organizer %}
                                            <li>
                                                <a href="{% url 'organizer:detail' request.user.organizer.pk %}">{{request.user.organizer.organizer_name|truncatechars:20}}</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'organizer:organizer-profile' %}">Organizer Settings</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a href="{% url 'account:change-password' %}">Change Password</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'account:user-update' request.user.pk %}">Account Details</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'account:logout' %}">Sign Out</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        {% notifications_count  request.user as notifs %}
                        {% if request.user.is_organizer %}
                            <div class="notification">
                                <div class="align-center p-relative full-h">
                                    {% if notifs  %}
                                        <i class="far fa-bell notify_icon notification_icon" style="color: red;"></i>
                                    {% else %}
                                        <i class="far fa-bell notify_icon notification_icon" ></i>
                                    {% endif %}
                                </div>
                                <div class="header-menu p-2 shadow" id="notification-box">
                                    <div class="d-flex justify-content-center">
                                        <img src="{% static 'images/animat-bell-color.gif' %}" id="notification-bell" class="m-auto" alt="">
                                    </div>
                                    <p class="bold text-center" id='notifications' style="color: #000;" > {% if notifs  %}You have new {{notifs}} notifications{% else %}Nothing notifications here!{% endif %} </p>
                                    <form action="{% url 'organizer:reset_notifications' %}" class="">
                                        <input type="submit" value="View All" class="w-100 btn btn-outline-secondary notification_btn {% if notifs  %} display_b {% else %} display_n {% endif %}'">
                                    </form>
                                </div>
                            </div>
                        {% endif %}

                        {% else %}
                        <ul class="menu-list d-flex m-0 align-center">
                            <li>
                                <button data-toggle="modal" data-target="#loginModal" class="login-btn">Login</button>
                            </li>
                            <li>
                                <button class="register-btn" data-toggle="modal" data-target="#registerModal">
                                    Sign Up
                                </button>
                            </li>
                        </ul>

                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <section>
        {% login_form as login %}
        <div class="modal fade " style="margin-top: 90px;" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog login-modal" >
                <div class="modal-content p-2 pt-5 shadow" style="background-color: #ebebeb;">

                    <form class="" method="post" action="{% url 'main:home' %}">
                        {% csrf_token %}
                        <div class="login-container">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <h4 class="text-center mb-3" style="color: rgb(112, 111, 111);">Sing-In</h4>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <div class="col-sm-12  d-flex justify-content-center">
                                    {{login.username}}
                                    {{login.username.errors}}
                                </div>
                            </div>
                            <div class="form-group row" >
                                <div class="col-sm-12 d-flex justify-content-center">
                                    {{login.password}}
                                    {{login.password.errors}}
                                </div>
                            </div>
                            <div class="form-group row mt-3">
                                <div class="col-sm-12 d-flex justify-content-center">
                                <input type="submit" class="btn btn-primary login_btn" value="Sing-In" />
                                </div>
                            </div>

                            <div class="form-group row justify-content-end d-flex">
                            <a href="{% url 'account:password_reset' %}" class="float-right mr-3">Forgot password?</a>
                            </div>
                        </div>
                    </form>
                <div class="row">
                    <form class="full p-2">
                    <div class="form-group d-column social-login">
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary" >
                            <i class="fab fa-google-plus-g mr-2"></i>Continue with Google
                        </a>
                        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary" style="border: 1px solid #ccc">
                            <i class="fab fa-facebook-f mr-2"></i> Continue with Facebook
                        </a>

                    </div>
                    </form>
                    <div class="d-column full mb-3">
                    <p class="text-center mb-1">Are you new?</p>
                    <a class="text-center mb-1" href="#" data-toggle="modal" data-target="#registerModal" >Create your account</a>
                    </div>
                </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog register-modal" role="document">
            <div class="modal-content" style="background-color: #ebebeb;">
                <div class="modal-body d-column">
                    <div class="row  mb-3 pb-2 border-bottom">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <h4 class="full text-center">Register</h4>
                        </div>
                        <div class="col-2">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <a class="register-link mt-3"  href="{% url 'organizer:organizer-register' %}" >
                    Register as Organizer
                    </a>
                    <a class="register-link" href="{% url 'account:user-register' %}">
                    Register as User
                    </a>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="slider-section">

        <div class="custom-container">
            <div class="inner-container">
                <h1 class="text-center home-heading">World Active Tourism Platform</h1>
                <div class="main-menu">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <a href="{% url 'tour:home' %}" class="menu-link">
                                <div class="d-flex align-center justify-content-center">
                                    <img src="{% static 'images/home-page/direction.svg' %}" alt="">
                                    <h3>
                                        Tours
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6">
                            <a href="{% url 'activity:home' %}" class="menu-link">
                                <div class="d-flex align-center justify-content-center">
                                    <img src="{% static 'images/home-page/pin.svg' %}" alt="">
                                    <h3>
                                        Activities
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6">
                            <a href="{% url 'training:home' %}" class="menu-link">
                                <div class="d-flex align-center justify-content-center">
                                    <img src="{% static 'images/home-page/bus.svg' %}" alt="">
                                    <h3>
                                        Trainings
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6">
                            <a href="{% url 'organizer:home' %}" class="menu-link">
                                <div class="d-flex align-center justify-content-center">
                                    <img src="{% static 'images/home-page/calendar.svg' %}" alt="">
                                    <h3>
                                        Organizers
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <main>
        <div class="custom-container">

            <div class="row mb-100">
                {% if tours %}
                    <h3 class="text-center full home-heading">Newest Tours</h3>

                    <div class="tour-grid">
                        {% for tour in tours %}
                            <div class="tour">
                                <div class="d-column">
                                    {% if tour.avatar %}
                                        <img src="{{tour.avatar.url}}" class="tour-img" alt="">
                                    {% else %}
                                        <img src="{% static 'images/default.png' %}" class="tour-img" alt="">
                                    {% endif %}
                                    <div class="card-body">
                                        <div class="d-flex ">
                                            <a href="{% url 'tour:detail' tour.pk %}" class="tour-title">
                                                <h4>
                                                    {{tour.title|capfirst}}
                                                </h4>
                                            </a>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            {% if tour.durationday %}
                                                <span class="duration">{{tour.durationday}} days</span>
                                            {% else %}
                                                <span class="duration">Always</span>
                                            {% endif %}
                                            <span>{{tour.price}} {{tour.currency}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if trainings %}
                    <h3 class="text-center full home-heading">Newest Trainings</h3>

                    <div class="tour-grid">
                        {% for tour in trainings %}
                            <div class="tour">
                                <div class="d-column">
                                    {% if tour.avatar %}
                                        <img src="{{tour.avatar.url}}" class="tour-img" alt="">
                                    {% else %}
                                        <img src="{% static 'images/default.png' %}" class="tour-img" alt="">
                                    {% endif %}

                                    <div class="card-body">
                                        <div class="d-flex ">
                                            <a href="{% url 'tour:detail' tour.pk %}" class="tour-title">
                                                <h4>
                                                    {{tour.title|capfirst}}
                                                </h4>
                                            </a>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            {% if tour.durationday %}
                                                <span class="duration">{{tour.durationday}} days</span>
                                            {% else %}
                                                <span class="duration">Always</span>
                                            {% endif %}
                                            <span>{{tour.price}} {{tour.currency}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if activities %}
                    <h3 class="text-center full home-heading">Newest Activities</h3>

                    <div class="tour-grid">
                        {% for tour in activities %}
                            <div class="tour">
                                <div class="d-column">
                                    {% if tour.avatar %}
                                        <img src="{{tour.avatar.url}}" class="tour-img" alt="">
                                    {% else %}
                                        <img src="{% static 'images/default.png' %}" class="tour-img" alt="">
                                    {% endif %}

                                    <div class="card-body">
                                        <div class="d-flex ">
                                            <a href="{% url 'tour:detail' tour.pk %}" class="tour-title">
                                                <h4>
                                                    {{tour.title|capfirst}}
                                                </h4>
                                            </a>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            {% if tour.durationday %}
                                                <span class="duration">{{tour.durationday}} days</span>
                                            {% else %}
                                                <span class="duration">Always</span>
                                            {% endif %}
                                            <span>{{tour.price}} {{tour.currency}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="pt-5 pb-5">
                <div class="row">
                    <div class="col-12 col-sm-7">
                        <div class="owl-carousel">
                            <div>
                                <img class="owl-img-item" src="https://lp-cms-production.imgix.net/features/2013/06/GettyRF_83654057-0d23ef9081fb.jpg"
                                    alt="">
                            </div>
                            <div>
                                <img class="owl-img-item" src="https://d3jkudlc7u70kh.cloudfront.net/extreme-sport-fact.jpg" alt="">
                            </div>
                            <div>
                                <img class="owl-img-item" src="https://wallpapercave.com/wp/tQbrBgT.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-5 about-section d-column justify-content-around">
                        <div>
                            <h5>About Us</h5>
                            <h3>Get ready for real time adventure</h3>
                            <p>Let’s start your journey with us, your dream will come true.Wactop, provides people with
                                access
                                to active lifestyles and access to active products they are
                                interested in on a common platform. Our mission is to provide services they need to live
                                active
                                lives on the online platform.
                            </p>
                        </div>

                        {% if partners %}
                            <div class="d-column">
                                <h3>Our Partners</h3>

                                <div class="d-flex">
                                    {% for partner in partners %}
                                        <a target="_blank" href="{% if partner.partner_url %}{{partner.partner_url}} {% else %}#{% endif %}">
                                            <img src="{{partner.partner_logo.url}}" class="partner-logo" alt="">
                                        </a>
                                    {% endfor %}

                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </main>


    <footer class="footer">
        <div class="custom-container">
            <div class="inner-container">
                <div class="row">
                    <div class="col-4 d-column align-center">
                        <div class="d-column">
                            <img src="{% static 'images/wactop.png' %}" class="logo" alt="">

                            <h5>World Active Tourism Platform</h5>

                            <nav class="d-flex">
                                <ul class="footer-social-links">
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-4 d-column align-center">
                        <h5>Navigation</h5>

                        <nav class="footer-nav">
                            <ul class="d-column">
                                <li>
                                    <a href="#">
                                        Tours
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Activities
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Trainings
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Organizers
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        About
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="col-4 d-column align-center">
                        <h5>Contact Us</h5>

                        <nav class="footer-nav">
                            <ul class="d-column">
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                                <li>
                                    <a href="#">Privacy</a>
                                </li>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

     <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                loop: true,
                items: 1,
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true
            });
        });
    </script>

   {% include 'partials/websocket.html' %}
</body>

</html>