{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

    <style>
      .input_style {
        outline: 0;
        border-bottom: 2px solid rgb(236, 233, 233);
        padding: 5px 10px;
        width: 80%;
      }
      .input_style:focus {
        border-bottom: 2px solid #6ea8f2;
      }
      .login_btn{
        border-radius: 20px;
        width: 80%;
      }
      .loginBtn, .registerBtn,.logout{
        color: #febd69;
        transition: color .2s ease-in-out;
      }
      .loginBtn:hover, .registerBtn:hover,.logout:hover{
        color: #ccc;
      }
    </style>
</head>

<body>
        <header>
            <a href="{% url 'main:home' %}" class="header-logo logo">
                <img src="{% static 'images/home-page/wactop-logo-new.png' %}" width="170px" title="Wactop" alt="wactop">
                <p>World Active Tourism Platform</p>
            </a>
            <div class="header-left">
                {% if request.user.is_authenticated %}
                <nav class="">
                    <ul>
                        <li><a href="{% url 'account:logout' %}" class="logout" >Logout</a></li>
                    </ul>
                </nav>
                {% else %}
                <nav class="header-left-bottom">
                    <ul>
                        <li><button type="button" class="loginBtn" data-toggle="modal" data-target="#exampleModal">Login</a></li>
                        <li><button type="button" class="registerBtn" data-toggle="modal" data-target="#exampleModal2">Register</a></li>
                    </ul>
                </nav>
                {% endif %}
            </div>
            
        </header>

    <div class="modal fade " style="margin-top: 90px;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="width: 400px;">
        <div class="modal-content pt-4 pb-2 shadow">
          <form class="" method="post">
            {% csrf_token %}
            <div class="login-container">
                <h4 class="text-center" style="color: rgb(139, 138, 138);">Login</h4>
                <hr>
                <div class="form-group row  f-size mt-4">
                    <!-- <label for="staticEmail" class="col-sm-2 col-form-label pl-0 pr-0">Username</label> -->
                    <div class="col-sm-12  d-flex justify-content-center">
                        {{form.username}}
                        {{form.username.errors}}
                      <!-- <input type="text" class="input_style" id="staticEmail" placeholder="Username" name="username"> -->
                    </div>
                </div>
                <div class="form-group row  f-size mt-4" style="margin-bottom: 40px;">
                    <!-- <label for="staticEmail" class="col-sm-2 col-form-label pl-0 pr-0">Password</label> -->
                    <div class="col-sm-12 d-flex justify-content-center">
                        {{form.password}}
                        {{form.password.errors}}
                      <!-- <input type="password" class="input_style" id="staticEmail" placeholder="Password" name='password' > -->
                    </div>
                </div>
                <a href="{% url 'account:password_reset' %}" class="float-right">Forgot password?</a>

                <div class="form-group row f-size mt-4 mb-5">
                    <div class="col-sm-12 d-flex justify-content-center">
                      <input type="submit" class="btn btn-outline-secondary login_btn form-input" value="Login" />
                    </div>
                </div>
            </div>
          </form>
          <div class="row">
              <div class=" mx-auto">
                  <form>
                      <div class="form-group">
                          <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google py-1" style="border: 1px solid #ccc;">
                              <i class="fab fa-google-plus-g mr-2"></i>Continue with Google
                          </a>
                          <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook py-1 social" style="border: 1px solid #ccc">
                              <i class="fab fa-facebook-f mr-2"></i> Continue with Facebook
                          </a>
                      
                      </div>
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade mt-2" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" >
        <div class="modal-content pt-4 pb-4 custom_modal" >
          <div class="d-flex flex-column justify-content-center align-items-center">
            <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
              <li class="nav-item">
                <a class="nav-link "  href="{% url 'organizer:organizer-register' %}" style="color: #fff;padding: .5rem 3rem;">
                  Register as Organizer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:user-register' %}" style="color: #fff; padding: .5rem 3rem;">
                  Register as User</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <main id="main">
        <div class="img-overlay"></div>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'images/home-page/slide-img-1.jpg' %}" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/home-page/slide-img-2.jpg' %}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/home-page/slide-img-3.jpg' %}" alt="Third slide">
              </div>
            </div>
          </div>
        <div class="container" style="z-index: 1;">
            <div class="full-width">
                <div class="row text-center">
                    <div class="inner">
                        <a href="{% url 'tour:home' %}" class="suggestions">Tours</a>
                        <p>{{tourcount}}</p>
                    </div>
                    <div class="inner">
                        <a href="{% url 'activity:home' %}" class="suggestions">Activities</a>
                        <p>{{activitycount}}</p>
                    </div>
                    <div class="inner">
                        <a href="{% url 'training:home' %}" class="suggestions">Tranings</a>
                        <p>{{trainingcount}}</p>
                    </div>
                    <div class="inner">
                        <a href="" class="suggestions">Organizer</a>
                        <p>{{organizercount}}</p>
                    </div>
                 
                </div>
            </div>
        </div>
       
    </main>

    <footer id="footer" class="full">
        
        <div class="footer-up">
            <div class="partners">Our partners</div>
            <div class="partners-logos">
                <div class="owl-carousel owl-theme">
                    <div class="item"><img src="{% static 'images/home-page/wacgtop1.png' %}" alt=""></div>
                    <div class="item"><img src="{% static 'images/home-page/wacgtop1.png' %}" alt=""></div>
                    <div class="item" id="partners-crsl"><img src="https://yer.az/banner/yeraz-150x150.jpg" alt="" onclick="window.open('http://www.yer.az')"></div>
                    <!-- <div class="item"><img src="{% static 'images/home-page/wacgtop1.png' %}" alt=""></div> -->
                    <div class="item"><img src="{% static 'images/home-page/wacgtop1.png' %}" alt=""></div>
                    <div class="item"><img src="{% static 'images/home-page/wacgtop1.png' %}" alt=""></div>
                    <div class="item"><img src="{% static 'images/home-page/wacgtop1.png' %}" alt=""></div>
                    <div class="item"><img src="{% static 'images/home-page/wacgtop1.png' %}" alt=""></div>
                    <div class="item"><img src="{% static 'images/home-page/wacgtop1.png' %}" alt=""></div>
                    <div class="item"><img src="{% static 'images/home-page/wacgtop1.png' %}" alt=""></div>
                    <div class="item"><img src="{% static 'images/home-page/wacgtop1.png' %}" alt=""></div>
                    <div class="item"><img src="{% static 'images/home-page/wacgtop1.png' %}" alt=""></div>
                    <div class="item"><img src="{% static 'images/home-page/wacgtop1.png' %}" alt=""></div>
                </div>
            </div>
        </div>
        <div class="full footer-bottom">
            <div class="row">
                <div class="col">
                    <ul class="foot-list">
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Terms</a>
                        </li>
                        <li>
                            <a href="#">Privacy</a>
                        </li>
                    </ul>
                    <p><i class="far fa-copyright"></i> 2019</p>
                </div>
                <div class="col social-media">
                    <p>Follow Us</p>
                    <ul>
                        <li>
                            <a href="#">
                                <svg width="20" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-facebook-square fa-w-14 fa-2x">
                <path fill="currentColor"
                  d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"
                  class=""></path>
              </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg width="20" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="ins-icon svg-inline--fa fa-instagram fa-w-14 fa-2x">
                <path fill="currentColor"
                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                  class=""></path>
              </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg width="20" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-linkedin fa-w-14 fa-2x">
                <path fill="currentColor"
                  d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                  class=""></path>
              </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <a class="contact-link" href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/home-page/jquery-latest.js' %}"></script>
    <script src="{% static 'js/home-page/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/home-page/owl.carousel.js' %}"></script>
    <script src="{% static 'js/home-page/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/home-page/main.js' %}"></script>
    <script>
    
    </script>
</body>

</html>