<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notifications</title>

    <link rel="icon"  type="image/png" href="{% static 'images/wactop-fav-4.png' %}">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/fontawesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Css files -->

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-page.css' %}">

    <style>
      .reset-input input{
        width: 100%;
        height: 40px;
        border: 1px solid #D2D3D3;
        padding: 10px;
        border-radius: 5px;
        margin-left: 10px;
      }
    </style>

</head>

<body id="main_body">
  
  {% include 'partials/header.html' %}
  {% include 'partials/main-menu.html' %}


  <main class="pt-5">
      <div class="container">
          <div class="row">
              <div class="col-12 pt-3">
                  <div class="form-box shadow">
                    <div class="form-group">
                      <h3 class="full border-bottom bold mb-5 pb-2 text-center">
                        New Notifications
                      </h3>
                    </div>
                    {% for notification in notifications %}
                    <div class="form-group px-3 py-3" style="border: 1px solid #ccc;">
                        <p>{{notification.text|title}}</p>
                        <div class="text-right">
                        <small>{{notification.created_at}}</small>
                        </div>
                    </div>
                    {% endfor %}
                  </div>
              </div>
          </div>
      </div>
  </main>

    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>