<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if request.user.is_organizer %}
        <title>{{request.user.organizer.organizer_name}}</title>
    {% else %}
        <title>Wactop</title>
    {% endif %}
    <link rel="icon"  type="image/png" href="{% static 'images/wactop-fav-4.png' %}">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/fontawesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Css files -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-page.css' %}">


    <style>
        .company-admin-container img{
            width: 60px;
            margin-right: 10px;
        }
        .link-box{
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        }
    </style>

    <link rel="stylesheet" href="{% static 'css/responsive-latest.css' %}">

</head>

<body>
    
    {% include 'partials/header.html' %}
    {% include 'partials/main-menu.html' %}

  
    <main>
        <div class="custom-container company-admin-container mt-5">
            {% if request.user.is_organizer %}
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <a href="{% url 'organizer:detail' request.user.organizer.pk %}" class="link-box">
                            <div class="align-center">
                                <!-- <i class="fas fa-home"></i> -->
                                <img src="{% static 'images/home.svg' %}"  alt="">
                                <span>{{request.user.organizer.organizer_name|truncatechars:30}}</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <a href="{% url 'organizer:add_tour' %}" class="link-box">
                            <div class="align-center">
                                <!-- <i class="fas fa-directions"></i> -->
                                <img src="{% static 'images/destination.svg' %}"  alt="">
                                <span>Add Tour</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <a href="{% url 'organizer:add_training' %}" class="link-box">
                            <div class="align-center">
                                <!-- <i class="fas fa-chalkboard-teacher"></i> -->
                                <img src="{% static 'images/online-learning.svg' %}"  alt="">
                                <span>Add Training</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <a href="{% url 'organizer:add_activity' %}" class="link-box">
                            <div class="align-center">
                                <!-- <i class="fas fa-hiking"></i> -->
                                <img src="{% static 'images/work-time.svg' %}"  alt="">
                                <span>Add Activity</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <a href="{% url 'organizer:organizer_edit' request.user.organizer.pk %}" class="link-box">
                            <div class="align-center"> 
                                <!-- <i class="fas fa-edit"></i> -->
                                <img src="{% static 'images/edit.svg' %}"  alt="">
                                <span>Edit Informations</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <a href="{% url 'organizer:organizer-photos' %}" class="link-box">
                            <div class="align-center">
                                <!-- <i class="fas fa-camera-retro"></i> -->
                                <img src="{% static 'images/gallery.svg' %}"  alt="">
                                <span>Photos</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <a href="{% url 'organizer:guides-instructors' %}" class="link-box">
                            <div class="align-center">
                                <!-- <i class="fas fa-users"></i> -->
                                <img src="{% static 'images/instructor.svg' %}"  alt="">

                                <div class="d-column">
                                    <span>Guides &</span>
                                    <span>Instructors</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <a href="{% url 'organizer:organizer-actions' %}" class="link-box">
                            <div class="align-center">
                                <!-- <i class="fas fa-history"></i> -->
                                <img src="{% static 'images/history.svg' %}"  alt="">
                                <div class="d-column">
                                    <span>Tours</span>
                                    <span>Activities</span>
                                    <span>Trainings</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            
            {% else %}
                <div class="row justify-content-center">
                    <div class="d-column">
                        <h3 class="bold text-center">You don't have access to this page.</h3>
                        <p class="text-center mb-5">Because you didn't register as organizer</p>
                        <a href="{% url 'organizer:organizer-register' %}" class="btn" style="height: 70px;">Switch Account</a>
                    </div>
                </div>
                
            {% endif %}
        </div>
    </main>
    
    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/organizer.js' %}"></script>


    <script>
        $(document).ready(function(){
           
            var org_width = $('.link-box').outerWidth()
            $('.link-box').hover(function(){
                var height = $(this).height()

                $(this).stop().animate({
                    borderRadius : '50%',
                    width : height
                    })
            }, function(){
                $(this).animate({
                    borderRadius : '10px',
                    width : org_width
                })
            })
        });
    </script>

</body>
</html>