<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wactop</title>
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/fontawesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Css files -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-page.css' %}">
    
</head>

<body>
    
    {% include 'partials/header.html' %}
    {% include 'partials/main-menu.html' %}

  
    <main>
        <div class="custom-container company-admin-container mt-5">
            <div class="row justify-content-center">
                <div class="col-3">
                    <a href="{% url 'organizer:detail' request.user.organizer.pk %}" class="link-box">
                        <div class="align-center">
                            <i class="fas fa-home"></i>
                            <span>{{request.user.organizer.organizer_name}}</span>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="{% url 'organizer:add_tour' %}" class="link-box">
                        <div class="align-center">
                            <i class="fas fa-directions"></i>
                            <span>Add Tour</span>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="{% url 'organizer:add_training' %}" class="link-box">
                        <div class="align-center">
                            <i class="fas fa-running"></i>
                            <span>Add Training</span>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="{% url 'organizer:add_activity' %}" class="link-box">
                        <div class="align-center">
                            <i class="fas fa-hiking"></i>
                            <span>Add Activity</span>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="{% url 'organizer:organizer_edit' request.user.organizer.pk %}" class="link-box">
                        <div class="align-center"> 
                            <i class="fas fa-user-edit"></i>
                            <span>Edit Informations</span>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="{% url 'organizer:organizer-photos' %}" class="link-box">
                        <div class="align-center">
                            <i class="fas fa-camera-retro"></i>
                            <span>Photos</span>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="{% url 'organizer:guides-instructors' %}" class="link-box">
                        <div class="align-center">
                            <i class="fas fa-chalkboard-teacher"></i>
                            <span>Guides & Instructors</span>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="{% url 'organizer:organizer-actions' %}" class="link-box">
                        <div class="align-center">
                            <i class="fas fa-history"></i>
                            <div class="d-column">
                                <span>Tours</span>
                                <span>Activities</span>
                                <span>Trainings</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
    
    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/organizer.js' %}"></script>


    <script>
        $(document).ready(function(){
           
            var width = $('.link-box').width()
            $('.link-box').hover(function(){
                var height = $(this).height()

                $(this).stop().animate({
                    borderRadius : '50%',
                    width : height
                    })
            }, function(){
                $(this).animate({
                    borderRadius : '0px',
                    width : width
                    })
            })
        });
    </script>

</body>
</html>