<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{request.user.organizer.organizer_name}} Actions</title>
    <link rel="icon"  type="image/png" href="{% static 'images/wactop-fav-4.png' %}">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/fontawesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Css files -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-page.css' %}">
    

    
    <style>
        .tour-item{
            margin-bottom: 30px;
            border-color: #5cc3ff;
            padding: 15px;
        }
        .tour-item img{
            height: 250px;
        }
        .tour-item .card-body{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
        .active{
            color: #0093E9;
            border-bottom: 1px solid #0093E9 !important;
        }
        .tour-menu-list li{
            margin-right: 20px;
        }
    </style>

    <link rel="stylesheet" href="{% static 'css/responsive-latest.css' %}">


</head>

<body>
    
    {% include 'partials/header.html' %}
    {% include 'partials/main-menu.html' %}

  
    <main class="organizer-actions">
        <div class="row justify-content-center p-relative">
            <div class="col-xl-3 p-0" id="menu-column" >
                {% include 'partials/organizer-menu.html' %}
                <button type="button" id="organizer-menu-btn">
                    <i class="fas fa-angle-right"></i>
                </button>
            </div>
            <div class="col-xl-11">
                
                <div class="custom-container mt-5 min-full-height" >
                    <nav class="full">
                        <ul class="full tour-menu-list d-flex" id="formControlMenu">
                            <li data-target="tours" class="active">
                                <span>Your Tours</span>
                            </li>
                            <li data-target="activities">
                                <span>Your Activities</span>
                            </li>
                            <li data-target="trainings">
                                <span>Your Trainings</span>
                            </li>
                        </ul>
                    </nav>
                    <div id="organizerActions" class=" bg-white shadow">
                        <div id="tours">
                            <div class="inner-container">
                                <div class="row">
                                    <div class="full bg-white org-actions border-bottom">
                                        <h3 class="bold m-3">Your Tours</h3>
                                    </div>
                                    <div class="row tour-list bg-white pt-3 full">
                                        {% if tours %}
                                            {% for tour in tours %}
                                                <div class="col-12">
                                                    <div class="tour-item p-relative">
                                                       
                                                        
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="tourDeleteModal{{tour.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Delete Tour</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p class="bold text-center">Are you sure to delete this tour?</p>
                                                                    <div class="d-column">
                                                                        {% if tour.avatar %}
                                                                            <img src="{{tour.avatar.url}}" alt="">
                                                                        {% else %}
                                                                            <img src="{% static 'images/default.png' %}" alt="">
                                                                        {% endif %}
                                                                        <div class="card-body">
                                                                            <div class="title border-bottom mb-3">
                                                                                {{tour.title|capfirst|truncatechars:25 }}
                                                                            </div>
                                                                            <div class="d-column">
                                                                                
                                                                                <div class="d-flex">
                                                                                    <span class="bold mr-2">Location : </span>
                                                                                    <span>{{tour.city|capfirst}}, {{tour.country|capfirst}}</span>
                                                                                </div>
                                                                                <div class="d-flex">
                                                                                    <span class="bold mr-2">Company : </span>
                                                                                    <span>{{tour.organizer.organizer_name}}</span>
                                                                                </div>
                                                                                <div class="d-flex full justify-content-between mt-3">
                                                                                    <div class="price">
                                                                                        {{tour.price}} {{tour.currency}}
                                                                                    </div>
                                                                                    <div class="duration align-center">
                                                                                        <i class="far fa-clock mr-1"></i>
                                                                                        {{tour.durationday}} days
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <form action="{% url 'organizer:tour-delete' tour.pk %}" method="post">
                                                                        {% csrf_token %}
                                                                        <input type="submit" value="Delete" class="btn btn-outline-danger">
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="row full">
                                                            <div class="col-12 col-md-4 p-0">
                                                                {% if tour.avatar %}
                                                                    <img src="{{tour.avatar.url}}" alt="">
                                                                {% else %}
                                                                    <img src="{% static 'images/default.png' %}" alt="">
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-12 col-md-8 p-0">
                                                                <div class="card-body full-h ml-2">
                                                                    <div class="title border-bottom mb-3 d-flex justify-content-between">
                                                                        <a class="d-flex align-center" href="{% url 'tour:detail' tour.pk %}">
                                                                            {{tour.title|capfirst|truncatechars:25 }}
                                                                        </a>
                                                                        <div class="delete-edit-box d-flex mb-2" style="position: static !important;">
                                                                            <div class="mr-2 d-flex">
                                                                                {% if tour.status == 3 %}
                                                                                    <button type="button" class="btn  btn-mob btn-outline-success full" disabled>Finished</button> 
                                                                                {% else %}
                                                                                    <form action="{% url 'organizer:finish-tour' tour.pk %}" method="post" class="d-flex    ">
                                                                                        {% csrf_token %}
                                                                                        <button type="submit" class="btn btn-mob btn-outline-success full">Finish Tour</button>
                                                                                    </form>
                                                                                {% endif %}
                                                                            </div>
                                                                            {% if tour.status == 1 %}
                                                                                <span class="btn btn-mob btn-outline-success align-center mr-2" style="background-color: #fff; color: #000;">Publish</span>
                                                                            {% elif tour.status == 2 %}
                                                                                <span class="btn btn-mob btn-outline-primary align-center mr-2" style="background-color: #fff; color: #000;">Not Publish</span>
                                                                            {% endif %}
                                                                            <div class="d-flex">
                                                                                <a href="{% url 'organizer:tour-edit' tour.pk %}" class="edit-btn d-flex align-center justify-content-center">
                                                                                    <i class="fas fa-edit"></i>
                                                                                </a>
                                                                                <button style="outline: none;" class="delete-btn" type="button" data-toggle="modal" data-target="#tourDeleteModal{{tour.pk}}">
                                                                                    <i class="fas fa-trash-alt"></i>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="d-column">
                                                                        
                                                                        <div class="d-flex">
                                                                            <span class="bold mr-2">Location : </span>
                                                                            <span>{{tour.city|capfirst}}, {{tour.country|capfirst}}</span>
                                                                        </div>
                                                                        <div class="d-flex">
                                                                            <span class="bold mr-2">Company : </span>
                                                                            <span>{{tour.organizer.organizer_name}}</span>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="d-flex full justify-content-between mt-3">
                                                                        <div class="price">
                                                                            {% if tour.discount %}
                                                                                {{tour.discount_price}} {{tour.currency}}
                                                                                <span style="text-decoration: line-through; font-weight: bold;">{{tour.price}} {{tour.currency}}</span>
                                                                            {% else %}
                                                                                {{tour.price}} {{tour.currency}}
                                                                            {% endif %}
                                                                            
                                                                        </div>
                                                                        <div class="d-flex">
                                                                            <div class="duration align-center mr-3">
                                                                                <i class="far fa-clock mr-1"></i>
                                                                                {% if tour.get_duration_day %}
                                                                                    {{tour.get_duration_day}} days
                                                                                {% else %}
                                                                                    Always
                                                                                {% endif %}
                                                                            </div>
                                                                            <a class="d-flex align-center detail-btn btn-mob" href="{% url 'tour:detail' tour.pk %}">
                                                                                See Detail
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %} 
                                        {% else %}
                                            <h3 class="full bold text-center" style="height: 200px;">
                                                No Tours added<i class="far fa-folder-open ml-2"></i>
                                            </h3>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div id="activities" class="bg-white" style="display: none;">
                            <div class="inner-container">
                                <div class="row">
                                    <div class="full bg-white org-actions border-bottom">
                                        <h3 class="bold m-3">Your Activities</h3>
                                    </div>
                                    <div class="row tour-list bg-white pt-3 full">
                                        {% if activities %}
                                            {% for activity in activities %}
                                                <div class="col-12">
                                                    <div class="tour-item p-relative">
                                                        
                                                        
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="activityDeleteModal{{activity.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Delete Activity</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p class="bold text-center">Are you sure to delete activity?</p>
                                                                    <div class="d-column">
                                                                        {% if activity.avatar %}
                                                                            <img src="{{activity.avatar.url}}" alt="">
                                                                        {% else %}
                                                                            <img src="{% static 'images/default.png' %}" alt="">
                                                                        {% endif %}
                                                                        <div class="card-body">
                                                                            <div class="title border-bottom mb-3">
                                                                                {{activity.title|capfirst|truncatechars:25 }}
                                                                            </div>
                                                                            <div class="d-column">
                                                                                
                                                                                <div class="d-flex">
                                                                                    <span class="bold mr-2">Location : </span>
                                                                                    <span>{{activity.city|capfirst}}, {{activity.country|capfirst}}</span>
                                                                                </div>
                                                                                <div class="d-flex">
                                                                                    <span class="bold mr-2">Company : </span>
                                                                                    <span>{{activity.organizer.organizer_name}}</span>
                                                                                </div>
                                                                                <div class="d-flex full justify-content-between mt-3">
                                                                                    <div class="price">
                                                                                        {{activity.price}} {{activity.currency}}
                                                                                    </div>
                                                                                    <div class="duration align-center">
                                                                                        <i class="far fa-clock mr-1"></i>
                                                                                        {{activity.durationday}} days
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <form action="{% url 'organizer:activity-delete' activity.pk %}" method="post">
                                                                        {% csrf_token %}
                                                                        <input type="submit" value="Delete" class="btn btn-outline-danger">
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
        
                                                        <div class="row full"> 
                                                            <div class="col-12 col-md-4 p-0">
                                                                {% if activity.avatar %}
                                                                    <img src="{{activity.avatar.url}}" alt="">
                                                                {% else %}
                                                                    <img src="{% static 'images/default.png' %}" alt="">
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-12 col-md-8 p-0">
                                                                <div class="card-body full-h ml-2">
                                                                    <div class="title border-bottom mb-3 d-flex justify-content-between">
                                                                        <a href="{% url 'activity:detail' activity.pk %}" class="d-flex align-center">
                                                                            {{activity.title|capfirst|truncatechars:25 }}
                                                                        </a>
                                                                        <div class="delete-edit-box d-flex mb-2" style="position: static;">
                                                                            <div class="mr-2 d-flex">
                                                                                {% if tour.status == 3 %}
                                                                                    <button type="button" class="btn btn-mob btn-outline-success full" disabled>Finished</button> 
                                                                                {% else %}
                                                                                    <form action="{% url 'organizer:finish-activity' activity.pk %}" method="post" class="d-flex    ">
                                                                                        {% csrf_token %}
                                                                                        <button type="submit" class="btn btn-mob btn-outline-success full">Finish Activity</button>
                                                                                    </form>
                                                                                {% endif %}
                                                                            </div>
                                                                            {% if activity.status == 1 %}
                                                                                <span class="btn btn-outline-success align-center mr-2" style="background-color: #fff; color: #000;">Publish</span>
                                                                            {% elif activity.status == 2 %}
                                                                                <span class="btn btn-outline-primary align-center mr-2" style="background-color: #fff; color: #000;">Not Publish</span>
                                                                           {% endif %}
                                                                            <div class="d-flex">
                                                                                <a href="{% url 'organizer:activity-edit' activity.pk %}" class="edit-btn d-flex align-center justify-content-center">
                                                                                    <i class="fas fa-edit"></i>
                                                                                </a>
                                                                                <button style="outline: none;" class="delete-btn" type="button" data-toggle="modal" data-target="#activityDeleteModal{{activity.pk}}">
                                                                                    <i class="fas fa-trash-alt"></i>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="d-column">
                                                                        
                                                                        <div class="d-flex">
                                                                            <span class="bold mr-2">Location : </span>
                                                                            <span>{{activity.city|capfirst}}, {{activity.country|capfirst}}</span>
                                                                        </div>
                                                                        <div class="d-flex">
                                                                            <span class="bold mr-2">Company : </span>
                                                                            <span>{{activity.organizer.organizer_name}}</span>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="d-flex full justify-content-between mt-3">
                                                                        <div class="price">
                                                                            {% if activity.discount %}
                                                                                {{activity.discount_price}} {{activity.currency}}
                                                                                <span style="text-decoration: line-through; font-weight: bold;">{{activity.price}} {{activity.currency}}</span>
                                                                            {% else %}
                                                                                {{activity.price}} {{activity.currency}}
                                                                            {% endif %}
                                                                            
                                                                        </div>
                                                                        <div class="d-flex">
                                                                            <div class="duration align-center mr-3">
                                                                                <i class="far fa-clock mr-1"></i>
                                                                                {% if activity.get_duration_day %}
                                                                                    {{activity.get_duration_day}} days
                                                                                {% else %}
                                                                                    Always
                                                                                {% endif %}
                                                                            </div>
                                                                            <a class="d-flex align-center detail-btn btn-mob" href="{% url 'activity:detail' activity.pk %}">
                                                                                See Detail
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %} 
                                        {% else %}
                                            <h3 class="full bold text-center" style="height: 200px;">
                                                No Activities added<i class="far fa-folder-open ml-2"></i>
                                            </h3>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div id="trainings" class="bg-white" style="display: none;">
                            <div class="inner-container">
                                <div class="row">
                                    <div class="full bg-white org-actions border-bottom">
                                        <h3 class="bold m-3">Your Trainings</h3>
                                    </div>
                                    <div class="row tour-list bg-white pt-3 full">
                                        {% if trainings %}
                                            {% for training in trainings %}
                                                <div class="col-12">
                                                    <div class="tour-item p-relative">

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="trainingDeleteModal{{training.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Delete Training</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p class="bold text-center">
                                                                        Are you sure to delete this training?
                                                                    </p>
                                                                    <div class="d-column">
                                                                        {% if training.avatar %}
                                                                            <img src="{{training.avatar.url}}" alt="">
                                                                        {% else %}
                                                                            <img src="{% static 'images/default.png' %}" alt="">
                                                                        {% endif %}
                                                                        <div class="card-body">
                                                                            <div class="title border-bottom mb-3">
                                                                                {{training.title|capfirst|truncatechars:25 }}
                                                                            </div>
                                                                            <div class="d-column">
                                                                                
                                                                                <div class="d-flex">
                                                                                    <span class="bold mr-2">Location : </span>
                                                                                    <span>{{training.city|capfirst}}, {{training.country|capfirst}}</span>
                                                                                </div>
                                                                                <div class="d-flex">
                                                                                    <span class="bold mr-2">Company : </span>
                                                                                    <span>{{training.organizer.organizer_name}}</span>
                                                                                </div>
                                                                                <div class="d-flex full justify-content-between mt-3">
                                                                                    <div class="price">
                                                                                        {{training.price}} {{training.currency}}
                                                                                    </div>
                                                                                    <div class="duration align-center">
                                                                                        <i class="far fa-clock mr-1"></i>
                                                                                        {{training.durationday}} days
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <form action="{% url 'organizer:training-delete' training.pk %}" method="post">
                                                                        {% csrf_token %}
                                                                        <input type="submit" value="Delete" class="btn btn-outline-danger">
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>

                                                        <div class="row full">
                                                            <div class="col-12 col-md-4 p-0">
                                                                {% if training.avatar %}
                                                                    <img src="{{training.avatar.url}}" alt="">
                                                                {% else %}
                                                                    <img src="{% static 'images/default.png' %}" alt="">
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-12 col-md-8 p-0">
                                                                <div class="card-body full-h ml-2">
                                                                    <div class="title border-bottom mb-3 d-flex justify-content-between">
                                                                        <a class="d-flex align-center" href="{% url 'training:detail' training.pk %}">
                                                                            {{training.title|capfirst|truncatechars:25 }}
                                                                        </a>
                                                                        
                                                                        <div class="delete-edit-box d-flex mb-2" style="position: static !important;">
                                                                            <div class="mr-2 d-flex">
                                                                                {% if tour.status == 3 %}
                                                                                    <button type="button" class="btn btn-mob btn-outline-success full" disabled>Finished</button> 
                                                                                {% else %}
                                                                                    <form action="{% url 'organizer:finish-training' training.pk %}" method="post" class="d-flex">
                                                                                        {% csrf_token %}
                                                                                        <button type="submit" class="btn btn-mob btn-outline-success full">Finish Training</button>
                                                                                    </form>
                                                                                {% endif %}
                                                                            </div>
                                                                            {% if training.status == 1 %}
                                                                                <span class="btn btn-outline-success align-center mr-2" style="background-color: #fff; color: #000;">Publish</span>
                                                                            {% elif training.status == 2 %}
                                                                                <span class="btn btn-outline-primary align-center mr-2" style="background-color: #fff; color: #000;">Not Publish</span>
                                                                            {% endif %}
                                                                            <div class="d-flex">
                                                                                <a href="{% url 'organizer:training-edit' training.pk %}" class="edit-btn d-flex align-center justify-content-center">
                                                                                    <i class="fas fa-edit"></i>
                                                                                </a>
                                                                                <button style="outline: none;" class="delete-btn" type="button" data-toggle="modal" data-target="#trainingDeleteModal{{training.pk}}">
                                                                                    <i class="fas fa-trash-alt"></i>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="d-column">
                                                                        
                                                                        <div class="d-flex">
                                                                            <span class="bold mr-2">Location : </span>
                                                                            <span>{{training.city|capfirst}}, {{training.country|capfirst}}</span>
                                                                        </div>
                                                                        <div class="d-flex">
                                                                            <span class="bold mr-2">Company : </span>
                                                                            <span>{{training.organizer.organizer_name}}</span>
                                                                        </div>
                                                                        <div class="d-flex full justify-content-between mt-3">
                                                                            <div class="price">
                                                                                {% if training.discount %}
                                                                                    {{training.discount_price}} {{training.currency}}
                                                                                    <span style="text-decoration: line-through; font-weight: bold;">{{training.price}} {{training.currency}}</span>
                                                                                {% else %}
                                                                                    {{training.price}} {{training.currency}}
                                                                                {% endif %}
                                                                                
                                                                            </div>

                                                                            <div class="d-flex">
                                                                                <div class="duration align-center mr-3">
                                                                                    <i class="far fa-clock mr-1"></i>
                                                                                    {% if training.get_duration_day %}
                                                                                        {{training.get_duration_day}} days
                                                                                    {% else %}
                                                                                        Always
                                                                                    {% endif %}
                                                                                </div>
                                                                                <a class="d-flex align-center detail-btn btn-mob" href="{% url 'training:detail' training.pk %}">
                                                                                    See Detail
                                                                                </a>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                       
                                                        
                 
                                                    </div>
                                                </div>
                                            {% endfor %} 
                                        {% else %}
                                            <h3 class="full bold text-center" style="height: 200px;">
                                                No Trainings added<i class="far fa-folder-open ml-2"></i>
                                            </h3>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'partials/footer.html' %}

    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/organizer.js' %}"></script>

    <script>
        function readURL(input,place) {
           if (input.files && input.files[0]) {
               var reader = new FileReader();

               reader.onload = function (e) {
                console.log(e.target.result);
                    console.log($(place));
                   $(place).attr('src', e.target.result);
               }
               
               reader.readAsDataURL(input.files[0]);
           }
       }

       $("#coverPhoto").change(function(){
           readURL(this,$('#default-cover-photo'));
       });

       $("#profilePhoto").change(function(){
           readURL(this,$('#default-profile-photo'));
       });
       
   </script>
    {% include 'partials/websocket.html' %}

    

</body>
</html>