<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Orgnizer Register</title>
    <link rel="icon"  type="image/png" href="{% static 'images/wactop-fav-4.png' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/register.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/organizer-page.css' %}">

    <link rel="stylesheet" href="{% static 'css/responsive-latest.css' %}">

    <style>
      input, textarea{
          font-size: 14px;
      }
    </style>
</head>

<body id="main_body">
  {% include 'partials/header.html' %}
  {% include 'partials/main-menu.html' %}
<main class="pt-5">
    <div class="container custom-container mt-5 mb-5">
        <div class="inner-container bg-white shadow">
          <div class="row">
            <div class="col-12 pt-3">
                <form method="POST" class="org-register-form" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group row p-relative" style="margin-bottom: 80px;">
                    <!-- Tour Cover Photo -->
                    <div class="d-flex add-img-box cover-img-box"> 
                        <label for="coverimgInp"><i class="fas fa-camera mr-2"></i>Cover Photo</label>
                        {{form.cover_image}}
                        {{form.cover_image.errors}}
                    </div>
                    <img id="coverPhoto" class="cover-photo" src="{% static 'images/org-cover-4.jpg' %}" alt="your image" />
                    
                    <!-- Tour Profile Photo -->
                    <div class="tour-profile-photo">
                        <div class="p-relative org-logo-bg">
                            <div class="d-flex add-img-box org-logo-box label-bg">
                                <label for="profileimgInp">
                                    <i class="fas fa-camera"></i>
                                </label>
                                {{form.profile_image}}
                                {{form.profile_image.errors}}
                                
                            </div>
                            <img id="profilePhoto" class="profile-photo" src="{% static 'images/org-logo-1.png' %}" alt="your image" />
                        </div>
                    </div>
                </div>
                <div class="form-group row justify-content-center f-size mt-3">
                  <div class="col-12 col-sm-3">
                      {{form.organizer_name.label_tag}}
                  </div>
                  <div class="col-12 col-sm-9">
                      {{form.organizer_name}}
                      {{form.organizer_name.errors}}
                  </div>
                </div>
                <div class="form-group row justify-content-center f-size mt-3">
                  <div class="col-12 col-sm-3">
                      {{form.username.label_tag}}
                  </div>
                  <div class="col-12 col-sm-9">
                      {{form.username}}
                      {{form.username.errors}}
                  </div>
                </div>
                <div class="form-group row justify-content-center f-size mt-3">
                  <div class="col-12 col-sm-3">
                      {{form.email.label_tag}}
                  </div>
                  <div class="col-12 col-sm-9">
                      {{form.email}}
                      {{form.email.errors}}
                  </div>
                </div>
                <div class="form-group row justify-content-center f-size mt-3">
                  <div class="col-12 col-sm-3">
                      {{form.password1.label_tag}}
                  </div>
                  <div class="col-12 col-sm-9">
                      {{form.password1}}
                      {{form.password1.errors}}
                  </div>
                </div>
                <div class="form-group row justify-content-center f-size mt-3">
                  <div class="col-12 col-sm-3">
                      {{form.password2.label_tag}}
                  </div>
                  <div class="col-12 col-sm-9">
                      {{form.password2}}
                      {{form.password2.errors}}
                  </div>
                </div>
                
                <div class="form-group row justify-content-center f-size mt-3">
                  <div class="col-12 col-sm-3">
                      {{form.description.label_tag}}
                  </div>
                  <div class="col-12 col-sm-9">
                      {{form.description}}
                      {{form.description.errors}}
                  </div>
                </div>

                <div class="form-group row justify-content-center f-size mt-3">
                  <div class="col-12 col-sm-3">
                      {{form.about.label_tag}}
                  </div>
                  <div class="col-12 col-sm-9">
                      {{form.about}}
                      {{form.about.errors}}
                  </div>
                </div>

                <div class="form-group row justify-content-center f-size mt-3">
                  <div class="col-12 col-sm-3">
                      {{form.address.label_tag}}
                  </div>
                  <div class="col-12 col-sm-9">
                      {{form.address}}
                      {{form.address.errors}}
                  </div>
                </div>

                <div class="form-group row justify-content-center f-size mt-3">
                  <div class="col-12 col-sm-3">
                      {{form.contact_number1.label_tag}}
                  </div>
                  <div class="col-12 col-sm-9">
                      {{form.contact_number1}}
                      {{form.contact_number1.errors}}
                  </div>
                </div>
               
                <div class="form-group row justify-content-center f-size mt-3">
                  <div class="col-12 col-sm-3">
                      {{form.contact_number2.label_tag}}
                  </div>
                  <div class="col-12 col-sm-9">
                      {{form.contact_number2}}
                      {{form.contact_number2.errors}}
                  </div>
                </div>
                
                <div class="form-group row justify-content-center f-size mt-3">
                  <div class="col-12 col-sm-3">
                      {{form.website.label_tag}}
                  </div>
                  <div class="col-12 col-sm-9">
                      {{form.website}}
                      {{form.website.errors}}
                  </div>
                </div>
                
                <div class="form-group row justify-content-center f-size mt-3">
                  <div class="col-12 col-sm-3">
                      {{form.facebook.label_tag}}
                  </div>
                  <div class="col-12 col-sm-9">
                      {{form.facebook}}
                      {{form.facebook.errors}}
                  </div>
                </div>
                
                <div class="form-group row justify-content-center f-size mt-3">
                  <div class="col-12 col-sm-3">
                      {{form.instagram.label_tag}}
                  </div>
                  <div class="col-12 col-sm-9">
                      {{form.instagram}}
                      {{form.instagram.errors}}
                  </div>
                </div>
                   
                <div class="form-group row  f-size">
                  <div class="col-12 d-flex justify-content-end">
                    <input type="submit" value="Register" class="btn btn-outline-success btn-mob">
                  </div>
                </div>

                 
                </form>
            </div>
        </div>
        </div>
    </div>
</main>

{% include 'partials/footer.html' %}


    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        function readURL(input,place) {
           if (input.files && input.files[0]) {
               var reader = new FileReader();

                reader.onload = function (e) {
                   $(place).attr('src', e.target.result);
                }
               reader.readAsDataURL(input.files[0]);
           }
       }

        $("#profileimgInp").change(function(){
            readURL(this,$('#profilePhoto'));
        });

        $("#coverimgInp").change(function(){
            readURL(this,$('#coverPhoto'));
        });
    </script>
</body>

</html>