<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Organizers</title>
    <link rel="icon"  type="image/png" href="{% static 'images/wactop-fav-4.png' %}">
    
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/fontawesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Css files -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-page.css' %}">
    
    <style>
        #org-profile-photo{
            position: absolute;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            left: 15px;
            bottom: -25px;
            -webkit-box-shadow: 0px 0px 8px 3px rgba(0,196,255,1);
            -moz-box-shadow: 0px 8px 3px 0px rgba(0,196,255,1);
            box-shadow: 0px 0px 8px 3px rgba(0,196,255,1);
            border: 1px solid #4CAEFF;
        }

        .saved-item img{
            height: 220px;
        }

        .stars i{
            font-size: 20px;
        }

        .saved-item .description {
        font-size: 15px;
        }
        .page-link{
                margin: 0px 5px;
        }
    </style>

    <link rel="stylesheet" href="{% static 'css/responsive-latest.css' %}">

</head>

<body>
    
    {% include 'partials/header.html' %}
    {% include 'partials/main-menu.html' %}
  
    <main>

        <div class="search-block">
            <form action="" class="tour-search">
                <div class="d-flex ">
                    <input type="text" name='q' class="search-input">
                    <button type="submit" class="search_btn" style="outline: none;">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="custom-container shadow bg-white mt-0 mt-sm-5 pt-5 pb-5">
            <div class="inner-container">
                <div class="row organizer-list">
                    {% if organizers %}
                        {% for organizer in organizers %}
                            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                                <div class="saved-item">
                                    <a href="{% url 'organizer:detail' organizer.pk %}">
                                        <div class="d-column">
                                            <div class="p-relative">
                                                {% if organizer.cover %}
                                                    <img src="{{organizer.cover.url}}" alt="">
                                                {% else %}
                                                    <img src="{% static 'images/default.png' %}" alt="">
                                                {% endif %}
                                                {% if organizer.profile_photo %}
                                                    <img src="{{organizer.profile_photo.url}}" id="org-profile-photo" alt="">
                                                {% else %}
                                                    <img src="{% static 'images/default.png' %}" id="org-profile-photo" alt="">
                                                {% endif %}
                                            </div>
                                            <div class="card-body organizer-item-infos">
                                                <div class="org-name mb-3">
                                                    {{organizer.organizer_name}}
                                                </div>
                                                <div class="d-column">
                                                    <div class="d-flex mb-1">
                                                        <div class="align-center mr-1">
                                                            <i class="fas fa-map-marker-alt mr-1"></i>
                                                            Address : 
                                                        </div>
                                                        <span>{{organizer.address}}</span>
                                                    </div>
                                                    <div class="d-flex mb-1">
                                                        <div class="align-center mr-2">
                                                            <i class="fas fa-phone-alt mr-1"></i>
                                                            Contact : 
                                                        </div>
                                                        {% if organizer.contact_number_1 %}
                                                            <span class="phone">{{organizer.contact_number_1}}</span>
                                                        {% elif organizer.contact_number_2 %}
                                                            <span class="phone">{{organizer.contact_number_2}}</span>
                                                        {% else %}
                                                            <span class="phone">xxx xxx xx xx</span>
                                                        {% endif %}
                                                    </div>
                                                    <div class="description">
                                                        <div class="mr-2" style="display: contents;">
                                                            <i class="fas fa-pencil-alt mr-1"></i>
                                                            <span class="bold">Description :</span> 
                                                        </div>
                                                        {{organizer.description }}
                                                    </div> 
                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                            <h3>No</h3>
                    {% endif %}
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            {% if is_paginated %}
                            <ul class="pagination d-flex justify-content-center">
                                {% if page_obj.has_previous %}
                                <li><a class='btn btn-outline-info page-link' href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled btn btn-outline-info page-link"><span >&laquo;</span></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active btn btn-info page-link"><span >{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a class='btn btn-outline-info page-link' href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a class='btn btn-outline-info page-link' href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled btn btn-outline-info page-link"><span >&raquo;</span></li>
                                {% endif %}
                            </ul>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'partials/footer.html' %}

    
    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/organizer.js' %}"></script>


    <script>
        function readURL(input,place) {
           if (input.files && input.files[0]) {
               var reader = new FileReader();

               reader.onload = function (e) {
                console.log(e.target.result);
                    console.log($(place));
                   $(place).attr('src', e.target.result);
               }
               
               reader.readAsDataURL(input.files[0]);
           }
       }

       $("#photo").change(function(){
           readURL(this,$('#choosen-photo'));
       });

       
       
   </script>


   <script>
       $('.menu_btn').click(function(){
            $('#menu-column').slideToggle()
       })
   </script>

    

</body>
</html>