<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tours</title>
    <link rel="icon" type="image/png" href="{% static 'images/wactop-fav-4.png' %}">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/fontawesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Css files -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown-menu-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive-latest.css' %}">


    <style>
        .shadow {
            -webkit-box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 1);
            -moz-box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 1);
            box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 1);
        }

        .page-link {
            margin: 0px 5px;
        }


    </style>


</head>

<body>

    {% include 'partials/header.html' %}

    {% include 'partials/main-menu.html' %}

    <main>

        <div class="search-block">
            <form class="tour-search" id="searchForm">
                <div class="d-flex ">
                    <input type="text" name='q' id="serachInput" class="search-input">
                    <button type="submit" class="search_btn" style="outline: none;">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="tour-container bg-white mt-4 shadow pt-4 min-full-height">
            <div class="tour-inner-container ">

                <div class="row m-4">
                    <div class="d-column full">
                        <h3 class="full text-center bold pb-2 mb-0">
                            Find The Perfect Tour
                        </h3>
                        <span class="text-center">with the help of filters and sortings</span>
                    </div>
                </div>

                <div class="row mb-5 filter-list-menu">
                    <div class="col-6 col-sm-4 col-xl-2">
                        <div class="d-column">
                            <button type="button" class="filter-open-btn">
                                <span>Price</span>
                                <span class="plus">+</span>
                            </button>
                            <div class="check-list">
                                <select class="custom-select" data-filter="price">
                                    <option selected value="">Select Option</option>
                                    <option value="high">High-Low</option>
                                    <option value="low">Low-High</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-6 col-sm-4 col-xl-2">
                        <div class="d-column">
                            <button type="button" class="filter-open-btn">
                                <span>Rating</span>
                                <span class="plus">+</span>
                            </button>
                            <div class="check-list">
                                <select class="custom-select" data-filter="rating">
                                    <option selected value="">Select Option</option>
                                    <option value="high">High-Low</option>
                                    <option value="low">Low-High</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-6 col-sm-4 col-xl-2">
                        <div class="d-column">
                            <button type="button" class="filter-open-btn">
                                <span>Duration</span>
                                <span class="plus">+</span>
                            </button>
                            <div class="check-list">
                                <select class="custom-select" data-filter="duration">
                                    <option selected value="">Select Option</option>
                                    <option value="long">Long-Short</option>
                                    <option value="short">Short-Long</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-6 col-sm-4 col-xl-2">
                        <div class="d-column">
                            <button type="button" class="filter-open-btn">
                                <span>Country</span>
                                <span class="plus">+</span>
                            </button>
                            <div class="check-list">
                                {% for country in countries %}
                                <div class="form-check">
                                    <input class="form-check-input styled-checkbox" data-filter="country" type="checkbox"
                                        onclick="filterData()" value="{{country}}" id="checkbox{{country}}">
                                    <label class="form-check-label" for="checkbox{{country}}">
                                        {{country|capfirst}}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-xl-2">
                        <div class="d-column">
                            <button type="button" class="filter-open-btn">
                                <span>Travel Style</span>
                                <span class="plus">+</span>
                            </button>
                            <div class="check-list">
                                {% for tour_type in tour_types %}
                                    <div class="form-check">
                                        <input class="form-check-input styled-checkbox" data-filter="style" type="checkbox"
                                            onclick="filterData()" value="{{tour_type}}" id="checkbox{{tour_type}}">
                                        <label class="form-check-label" for="checkbox{{tour_type}}">
                                            {{tour_type|capfirst}}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-xl-2">
                        <button type="button" class="filter-open-btn full">
                            <input class="form-check-input styled-checkbox" type="checkbox" data-filter="discount"  onclick="filterData()" value="true" id="discount">
                            <label class="form-check-label" for="discount">
                                Discount
                            </label>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="row full justify-content-center align-center d-flex" id="Loader">
                        <div class="LoaderBalls">
                            <div class="LoaderBalls__item"></div>
                            <div class="LoaderBalls__item"></div>
                            <div class="LoaderBalls__item"></div>
                        </div>
                    </div>
                    <div id="tourList" style="display: none;" class="tour-list row full">

                    </div>
                </div>


                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27" id='paginationContainer' style="display: none;">
                            <ul class="pagination d-flex justify-content-center" id="paginationBox">
                                <li class="active btn btn-info page-link"><span></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'partials/footer.html' %}

    <script>

        const api_url = `${window.location.protocol}//${window.location.host}/api/tours/`;
        console.log();
        async function getapi(url) {
            const response = await fetch(url);
            var data = await response.json();

            console.log(data);
            generatePagination(data, 16, 1)
            show(data.results);

        }

        getapi(api_url);

        function generatePagination(data, limit, page_position){
            var num_of_pages = Math.floor(data.count / limit) + 1
            console.log(data.count,num_of_pages);
            var page_item = ''
            for (let index = 1; index <= num_of_pages; index++) {
                if (index == page_position){
                    page_item += `
                        <li class="active btn btn-info page-link" data-target='${index}' onclick='getPagePosition(${index})'><span>${index}</span></li>
                    `
                }else{
                    page_item += `
                        <li class="btn btn-info page-link" data-target='${index}' onclick='getPagePosition(${index})'><span>${index}</span></li>
                    `
                }

            }
            $('#paginationBox').html(page_item)

        }



        function show(data) {

            let tour_item = ''

            for (var i = 0; i < data.length; i++) {
                let tour = data[i]

                tour_item +=
                    `<div class="col-12 col-lg-3 col-md-4 col-sm-6">
                        <div class="tour-item">
                            <a href="${tour.id}" class="full">
                                <div class="d-column full">
                                        <img src="${tour.avatar ? tour.avatar : "{% static 'images/default.png' %}"}" alt="">
                                    <div class="card-body">
                                        <div class="title mb-2">
                                            ${tour.title}
                                        </div>
                                        <div class="d-column">
                                            <div class="d-flex align-center">
                                                <div class="stars d-flex mr-2" data-value='${tour.rating}'>
                                                    <div class="star"><i class="far fa-star star-active"></i></div>
                                                    <div class="star"><i class="far fa-star star-active"></i></div>
                                                    <div class="star"><i class="far fa-star star-active"></i></div>
                                                    <div class="star"><i class="far fa-star star-deactive"></i></div>
                                                    <div class="star"><i class="far fa-star star-deactive"></i></div>
                                                </div>
                                                <span>${tour.comment_list.length} reviews</span>
                                            </div>
                                            <div class="d-flex">
                                                <span class="bold mr-2">Location : </span>
                                                <span>${tour.city}, ${tour.country}</span>
                                            </div>
                                            <div class="d-flex">
                                                <span class="bold mr-2">Company : </span>
                                                <span>${tour.organizer_name}</span>
                                            </div>
                                            <div class="d-flex full justify-content-between mt-2">
                                                <div class="price">

                                                    ${tour.discount ? `${tour.new_price} ${tour.currency} <span style='text-decoration: line-through; font-weight: bold;''>${tour.price} ${tour.currency}</span>` : `${tour.price} ${tour.currency}`}
                                                </div>
                                                <div class="duration align-center">
                                                    <i class="far fa-clock mr-1"></i>
                                                    ${tour.durationday}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>`;
            }

            document.getElementById("tourList").innerHTML = tour_item;

            setTimeout(function () {
                document.getElementById("tourList").style.display = 'flex'
                document.getElementById('paginationContainer').style.display = 'block'
                console.log('okk')
                $('#Loader').removeClass('d-flex align-center').addClass('d-none')

                for (let star = 0; star < $('.stars').length; star++) {
                    var rating_count = parseInt($('.stars').eq(star).data('value'))
                    for (let count = 0; count < rating_count; count++) {
                        $('.stars').eq(star).find('i').eq(count).removeClass('far').addClass('fas')
                    }
                }
            }, 500)
        }



    </script>


    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        var _filterObj = {};
        function filterData() {

            $(".form-check-input").each(function (index, ele) {
                var _filterVal = $(this).val();
                var _filterKey = $(this).data('filter');
                _filterObj[_filterKey] = Array.from(document.querySelectorAll('input[data-filter=' + _filterKey + ']:checked')).map(function (el) {
                    return el.value;
                });
            });

            delete _filterObj.page
            ajaxCall(_filterObj)
            console.log(_filterObj);
        }

        $('.custom-select').change(function () {
            $('.custom-select').each(function (index, element) {
                var _filterKey = $(element).data('filter');
                // console.log($(this));
                _filterObj[_filterKey] = $(element).children(':selected').val()
            })

            delete _filterObj.page
            console.log(_filterObj);
            ajaxCall(_filterObj)
        })

        $('#searchForm').submit(function(e){
            e.preventDefault()
            _filterObj['search'] = $('#serachInput').val()
            $('#serachInput').val('')

            delete _filterObj.page
            console.log(_filterObj);
            ajaxCall(_filterObj)
        })


        function getPagePosition(e){
            _filterObj['page'] = e
            ajaxCall(_filterObj, e)
        }




        // Run Ajax
        function ajaxCall(filterObj, clicked_page=1) {
            $.ajax({
                url: `${window.location.protocol}//${window.location.host}/api/tours/`,
                type: 'GET',
                data: filterObj,
                dataType: 'json',
                success: function (res) {

                    generatePagination(res, 16,clicked_page)

                    console.log(res, 'filtered data');
                    filteredProducts = $('#tourList')

                    var tour_item = ''

                    if (res.results.length) {

                        for (var i = 0; i < res.results.length; i++) {
                            let tour = res.results[i]

                            tour_item +=
                                `<div class="col-12 col-lg-3 col-md-4 col-sm-6">
                                <div class="tour-item">
                                    <a href="${tour.id}" class="full">
                                        <div class="d-column full">
                                                <img src="${tour.avatar ? tour.avatar : "{% static 'images/default.png' %}"}" alt="">
                                            <div class="card-body">
                                                <div class="title border-bottom mb-3">
                                                    ${tour.title}
                                                </div>
                                                <div class="d-column">
                                                    <div class="d-flex align-center">
                                                        <div class="stars d-flex mr-2" data-value='${tour.rating}'>
                                                            <div class="star"><i class="far fa-star star-active"></i></div>
                                                            <div class="star"><i class="far fa-star star-active"></i></div>
                                                            <div class="star"><i class="far fa-star star-active"></i></div>
                                                            <div class="star"><i class="far fa-star star-deactive"></i></div>
                                                            <div class="star"><i class="far fa-star star-deactive"></i></div>
                                                        </div>
                                                        <span>${tour.comment_list.length} reviews</span>
                                                    </div>
                                                    <div class="d-flex">
                                                        <span class="bold mr-2">Location : </span>
                                                        <span>${tour.city}, ${tour.country}</span>
                                                    </div>
                                                    <div class="d-flex">
                                                        <span class="bold mr-2">Company : </span>
                                                        <span>${tour.organizer_name}</span>
                                                    </div>
                                                    <div class="d-flex full justify-content-between mt-3">
                                                        <div class="price">

                                                            ${tour.discount ? `${tour.new_price} ${tour.currency} <span style='text-decoration: line-through; font-weight: bold;''>${tour.price} ${tour.currency}</span>` : `${tour.price} ${tour.currency}`}
                                                        </div>
                                                        <div class="duration align-center">
                                                            <i class="far fa-clock mr-1"></i>
                                                            ${tour.durationday}
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>`;
                        }
                        // console.log(tour_item);
                    } else {
                        tour_item = `<h3 class="full bold text-center" >
                                    No Tours Matched Query <i class="far fa-folder-open ml-2"></i>
                                </h3>`
                    }

                    document.getElementById("tourList").style.display = 'none'
                    $('#Loader').addClass('d-flex align-center').removeClass('d-none')
                    filteredProducts.html(tour_item)


                    setTimeout(function () {
                        document.getElementById("tourList").style.display = 'flex'
                        $('#Loader').removeClass('d-flex align-center').addClass('d-none')
                        for (let star = 0; star < $('.stars').length; star++) {
                            var rating_count = parseInt($('.stars').eq(star).data('value'))
                            for (let count = 0; count < rating_count; count++) {
                                $('.stars').eq(star).find('i').eq(count).removeClass('far').addClass('fas')
                            }
                        }

                    }, 500)


                },
                error: function (res) {
                    console.log(res, 'error');
                }
            });

        }

    </script>

    <script>

        $('.filter-open-btn').click(function(){
            $(this).siblings('.check-list').slideToggle(300)
        })

        $('.menu-btn').click(function () {
            $('.menu-box-in').stop().animate({
                width: 'toggle'
            }, 300);
        });

        $('.menu-btn').click(function () {
            $('.menu-box').css("display", "block");
            $('body').css("overflow", "hidden");
        });
        $('.close-btn, .menu-box').click(function () {
            $('.menu-box').css("display", "none");
            $('.menu-box-in').stop().animate({
                width: 'toggle'
            }, 300);
            $('body').css("overflow", "auto");
        });

        function readURL(input, place) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    console.log(e.target.result);
                    console.log($(place));
                    $(place).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#photo").change(function () {
            readURL(this, $('#choosen-photo'));
        });



    </script>


    {% include 'partials/websocket.html' %}

</body>

</html>