<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tours</title>
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/fontawesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Css files -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown-menu-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive-latest.css' %}">
    
    <style>
        .shadow{
            -webkit-box-shadow: 0px 0px 17px -7px rgba(0,0,0,1);
            -moz-box-shadow: 0px 0px 17px -7px rgba(0,0,0,1);
            box-shadow: 0px 0px 17px -7px rgba(0,0,0,1);
        }
        .page-link{
            margin: 0px 5px;
        }
    </style>
</head>

<body>
   
    {% include 'partials/header.html' %}
    {% include 'partials/main-menu.html' %}

    <main>

        <div class="search-block">
            <form action="" class="tour-search">
                <div class="d-flex ">
                    <input type="text" name=q class="search-input">
                    <button type="submit" class="search_btn" style="outline: none;">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="custom-container bg-white mt-4 shadow pt-4">
            <div class="inner-container ">
                <div class="row">
                    <!-- <form action="" class="d-flex full"> -->
                        <nav role="navigation" class="full">
                            <ul class="filter-menu-list d-flex align-center"> 
                                <span>
                                    <i class="fas fa-sort-amount-down-alt mr-1"></i>
                                    Filter
                                </span>
                              <li><a  class="align-center">Price
                                <i class="fas fa-angle-down ml-2"></i>
                                </a>
                                <ul class="dropdown">
                                    <form action="{% url 'training:filter' %}">
                                        <li><a href=""><button type="submit" name="price"  value="high">High</button></a></li>
                                        <li><a href=""><button type="submit" name="price"  value="low">Low</button></a></li>
                                    </form>
                                  </ul>
                              </li>
                              <li><a href="#" class="align-center">Country
                                <i class="fas fa-angle-down ml-2"></i>
                                </a>
                                <ul class="dropdown">
                                    <form action="{% url 'training:filter' %}">
                                        {% for country in countries %}
                                            <li><a href=""><button type="submit" name="country"  value="{{country}}">{{country|capfirst}}</button></a></li>
                                        {% endfor %}
                                    </form>
                                </ul>
                              </li>
                              <li><a href="#" class="align-center">Travel style
                                <i class="fas fa-angle-down ml-2"></i>
                                </a>
                                <ul class="dropdown">
                                    <form action="{% url 'training:filter' %}">
                                        {% for training_type in training_types %}
                                            <li><a href=""><button type="submit" name="style"  value="{{training_type}}">{{training_type|capfirst}}</button></a></li>
                                        {% endfor %}
                                    </form>
                                </ul>
                              </li>
                              <li><a href="#" class="align-center">Duration
                                <i class="fas fa-angle-down ml-2"></i>
                                </a>
                                <ul class="dropdown">
                                    <form action="{% url 'training:filter' %}">
                                        <li><a href=""><button type="submit" name="duration"  value="long">Long</button></a></li>
                                        <li><a href=""><button type="submit" name="duration"  value="short">Short</button></a></li>
                                    </form>
                                </ul>
                              </li>
                              <li><a href="#" class="align-center">Discount
                                <i class="fas fa-angle-down ml-2"></i>
                                </a>
                                <ul class="dropdown">
                                    <li><a href="#">Azerbaijan</a></li>
                                    <li><a href="#">Turkey</a></li>
                                </ul>
                              </li>
                            </ul>
                          </nav>
                    <!-- </form> -->
                </div>

                <div class="row tour-list">
                    {% if trainings %}
                        {% for training in trainings %}
                            <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                                <div class="tour-item">
                                    <a href="{% url 'training:detail' training.pk %}" class="full">
                                        <div class="d-column full">
                                            {% if training.avatar %}
                                                <img src="{{training.avatar.url}}" alt="">
                                            {% else %}
                                                <img src="{% static 'images/default.png' %}" alt="">
                                            {% endif %}
                                            <div class="card-body">
                                                <div class="title border-bottom mb-3">
                                                    {{training.title|capfirst|truncatechars:25 }}
                                                </div>
                                                <div class="d-column">
                                                    <div class="d-flex mb-2 align-center">
                                                        <div class="stars d-flex mr-2">
                                                            <div class="star"><i class="fas fa-star star-active"></i></div>
                                                            <div class="star"><i class="fas fa-star star-active"></i></div>
                                                            <div class="star"><i class="fas fa-star star-active"></i></div>
                                                            <div class="star"><i class="fas fa-star star-deactive"></i></div>
                                                            <div class="star"><i class="fas fa-star star-deactive"></i></div>
                                                        </div> 
                                                        <span>15 reviews</span>
                                                    </div>
                                                    <div class="d-flex">
                                                        <span class="bold mr-2">Location : </span>
                                                        <span>{{training.city|capfirst}}, {{training.country|capfirst}}</span>
                                                    </div>
                                                    <div class="d-flex">
                                                        <span class="bold mr-2">Company : </span>
                                                        <span>{{training.organizer.organizer_name}}</span>
                                                    </div>
                                                    <div class="d-flex full justify-content-between mt-3">
                                                        <div class="price">
                                                            {{training.price}} {{training.currency}}
                                                        </div>
                                                        <div class="duration align-center">
                                                            <i class="far fa-clock mr-1"></i>
                                                            {{training.durationday}} days
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %} 
                    {% else %}
                        <h3 class="full bold text-center" style="height: 400px;">
                            No Trainings added <i class="far fa-folder-open ml-2"></i>
                        </h3>
                    {% endif %}
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            {% if is_paginated %}
                            <ul class="pagination d-flex justify-content-center">
                                {% if page_obj.has_previous %}
                                <li><a class='btn btn-outline-info page-link' href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled btn btn-outline-info page-link"><span >&laquo;</span></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active btn btn-info page-link"><span >{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a class='btn btn-outline-info page-link' href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a class='btn btn-outline-info page-link' href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled btn btn-outline-info page-link"><span >&raquo;</span></li>
                                {% endif %}
                            </ul>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'partials/footer.html' %}

    
    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/organizer.js' %}"></script>


    <script>
        function readURL(input,place) {
           if (input.files && input.files[0]) {
               var reader = new FileReader();

               reader.onload = function (e) {
                console.log(e.target.result);
                    console.log($(place));
                   $(place).attr('src', e.target.result);
               }
               
               reader.readAsDataURL(input.files[0]);
           }
       }

       $("#photo").change(function(){
           readURL(this,$('#choosen-photo'));
       });

       
       
   </script>


   <script>
       $('.menu_btn').click(function(){
            $('#menu-column').slideToggle()
       })
       
   </script>

    

</body>
</html>