{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{tour.title}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">


    <link rel="stylesheet" href="{% static 'css/tour-page/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tour-page/owl.theme.default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tour-page/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown-menu-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive-latest.css' %}">
    <link rel="stylesheet" href="{% static 'css/tour-page/tour-page-style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tour-page/tour-page-responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tour-page/reset.css' %}" />

    <!-- FancyBox -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


    <style>
        .info-list,
        .info-list li{
            display: flex;
        }

        .info-list li{
            margin-right: 50px;
        }

        .info-list i,
        .company-links i,
        .phone-box i{
            color: #0093E9;
            margin-right: 5px;
        }

        .company-links a:hover{
            color: #0093E9;
        }

        .company-links {
            display: flex;
            flex-direction: column;
        }

        .company-links li{
            margin-bottom: 10px;
            display: flex;
        }

        .company-links a{
            text-decoration: none;
            color: #4b4b4d;
            transition: .4s;
        }

        .d-column{
            display: flex;
            flex-direction: column;
        }
        .phone{
            color: #0093E9;
        }
        .reply-form{
            display: none;
        }
        /* stars style */

        
        
    </style>
</head>

<body>
    {% include 'partials/header.html' %}
    {% include 'partials/main-menu.html' %}
    <div class="">
            <div class="head-bottom head-bottom-img">
                <img src="{%if tour.cover%}{{tour.cover.url}}{%else%}{% static 'images/organizer/image2.jpg' %}{%endif%}" alt="" class="back-img" />
            </div>

            <div class="full-width">
                <div class="container custom-container">
                    <div class="header-content">
                        <div class="header-bottom-left">
                            <div class="company-image">
                                <img src="{%if tour.avatar%}{{tour.avatar.url}}{%else%}{% static 'images/default.png' %}{%endif%}" alt="">
                            </div>
                            <div class="image-right">
                                <div class="tour-name">
                                    <h5>{{tour.title}}</h5>
                                </div>
                                <div class="header-bottom-right">
                                    <div class="tour-location">
                                        {% if tour.city %} {{tour.city}}, {% else %} ... {%endif%} {% if tour.country %}{{tour.country}} {% else %}...{% endif %}
                                    </div>
                                    <div class="bottom-right">
                                        <div class="location">{% if tour.address %} {{tour.address}}{% else %}...{% endif %} </div>
                                        <div class="select-langs">
                                            <form action="{% url 'tour:detail' tour.id %}">
                                                <select class="select-style" name='lang' onchange="this.form.submit()">
                                                  <option value="" selected hidden disabled>{{lang|capfirst}}</option>
                                                  <option value="en">En</option>
                                                  <option value="az">Az</option>
                                                  <option value="ru">Ru</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    <main id="main">
        <div class="cover-menu">
            <div class="container main-tour-container shadow">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="left">
                            <p class="pt-4 word">
                                {{description|capfirst}}
                            </p>
                            <nav class="details">
                                {% for i in detail %}
                                <div class="visible">
                                    <p><b>{{i.title|capfirst}}:</b></p>
                                    <p>{{i.text|capfirst}}</p>
                                </div>
                                {% endfor %} {% if detail %}
                                <span onclick="readmore()" style="color: #63a3eb;" class="readmore"><strong>Read more</strong></span> {%endif%}
                            </nav>

                        </div>
                    </div>
                    <div class="col-lg-3 middle-container tour-details">
                        <div class="middle">
                            <nav>
                                <ul>
                                    <li>
                                        <p class="price">Price</p>
                                    </li>
                                    <li>
                                        <h4>{{tour.price}} {{tour.currency}}</h4>
                                        <i class="person"> For {{tour.pricefor}} Person</i>
                                        <li ng-app="myApp" ng-controller="Main">
                                            <button ng-click="doVote()">
                                              </button>
                                            <span ng-model="like.votes">{{tour.viewcount}} views</span>
                                        </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="right">
                            <p>{{tour.datefrom}} - {% if tour.dateto %}{{tour.dateto}}{%endif%}</p>
                            <div class="right-list pt-2">
                                <span><i class="fas fa-clock"></i></span>
                                <nav>
                                    <ul class="day-count-list mb-0">
                                        <li class='day'>{%if tour.durationday%} {{tour.durationday}} day {%endif%}</li>
                                        <li>{%if tour.durationnight%} {{tour.durationnight}} night {%endif%}</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                {% if image %}
                <div class="row">
                    <div class="col-lg-10 tour-details pt-3">
                        <div class="images">
                            <h3 class="bold full border-bottom pb-2 mb-3">Training Photos</h3>
                            <div class="owl-carousel owl-theme">
                                 {% for i in image %}
                                <div class="item">
                                    <a data-fancybox="gallery" class="full" href="{{ i.image.url }}"><img src="{{ i.image.url }}"></a>
                                </div>
                                {% endfor %} 
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if schedule %}
                <div class="row">
                    <div class="col-lg-10 tour-details pt-3">
                        <div class="images">
                            <h3 class="bold full border-bottom pb-2 mb-3">Training Schedules</h3>
                            <div class="owl-carousel owl-theme">
                                 {% for i in schedule %}
                                <div class="item">
                                    <a data-fancybox="gallery" class="full" href="{{ i.schedule_image.url }}"><img src="{{ i.schedule_image.url }}"></a>
                                </div>
                                {% endfor %} 
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if tour.map_link %}
                    <div class="row">
                        <div class="col-lg-10 tour-details">
                            <div class="iframe-container">
                                <iframe src="{{tour.map_link}}" ></iframe>  
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row mb-5">
                    <div class="col-lg-10 tour-details pl-5 d-column">
                        <h3 class="full bold border-bottom pb-2 mb-3">About company</h3>
                        
                        <div class="mb-5 d-flex">
                            <div class="d-flex mr-3" style="font-weight: bold;">
                                Company Name : {{tour.organizer.organizer_name}} 
                            </div>
                            <a href="{% url 'organizer:detail' tour.organizer.id %}">
                                <i class="fas fa-external-link-alt mr-1"></i>
                                Go To {{tour.organizer.organizer_name}}
                            </a>
                        </div>

                        <div class="mb-5">
                            <h5 class="full bold border-bottom pb-2 mb-3">Description</h5>
                            <p class="description">
                                {{tour.organizer.about}}
                            </p>
                        </div>

                        <div class="d-column"> 
                            <ul class="info-list border-bottom pb-2 mb-4">
                                <li>
                                    <div class="align-center mr-1">
                                        <i class="fas fa-map-marker-alt"></i>
                                        Address : 
                                    </div>
                                    <span>{{tour.organizer.address}}</span>
                                </li>
                                <li>
                                    <div class="align-center mr-1">
                                        <i class="far fa-envelope"></i>
                                        Email : 
                                    </div>
                                    <span>{{tour.organizer.user.email}}</span>
                                </li>
                                <li>
                                    <div class="align-center mr-1">
                                        <i class="fas fa-phone-alt"></i>
                                        Number 1 : 
                                    </div>
                                    {% if tour.organizer.contact_number_1 %}
                                        <span class="phone">{{tour.organizer.contact_number_1}}</span>
                                    {% else %}
                                        <span class="phone">xxx xxx xx xx</span>
                                    {% endif %}
                                </li>
                                <li>
                                    <div class="align-center mr-1">
                                        <i class="fas fa-phone-alt"></i>
                                        Number 2 : 
                                    </div>
                                    {% if tour.organizer.contact_number_2 %}
                                        <span class="phone">{{tour.organizer.contact_number_2}}</span>
                                    {% else %}
                                        <span class="phone">xxx xxx xx xx</span>
                                    {% endif %}
                                </li>
                            </ul>
                            
                            <h3 class="full bold border-bottom pb-2 mb-3">Other Links</h3>
                            <ul class="company-links">
                                {% if url %}
                                    {% for link in url %}
                                        <li>
                                            <div class="align-center mr-1">
                                                <i class="fas fa-external-link-alt"></i>
                                            </div>
                                            <a href="{{link.url}}" target="blank">{{link.url}}</a>
                                        </li>
                                    {% endfor %} 
                                {% else %}
                                    <li>
                                        No links added
                                    </li>
                                {% endif %}
                                    
                            </ul>
                        </div>
            
                    </div>
                    
                </div>

                <div class="row">

                    {% if not request.user.is_organizer and request.user.is_authenticated %}
                        <div class="col-lg-10 tour-details pl-5">
                            <h3 class="full bold border-bottom pb-2 mb-5">Write thoughts about "{{tour.title|capfirst}}" organized by "{{tour.organizer.organizer_name}}" </h3>

                            <div class="row justify-content-center">
                                <div class="col-2">
                                    <img src="{% static 'images/chat.svg' %}" alt="" width="100%">
                                </div>
                                <div class="col-8">
                                    <form action="" method="post" id ='myform' >
                                        {% csrf_token %}
                                            <div class="form-group d-column align-items-center ">
                                                <h5 class="full bold border-bottom mb-2 pb-2">Give Your Rating</h5>
                                                <ul class="rating-menu d-column full m-0">
                                                    <li class="d-flex">
                                                        <div class="starsBox"> 
                                                            <input type="radio" id="rate-5" name="rating" value="5" > 
                                                            <label for="rate-5" class="d-flex justify-content-center align-items-center"></label> 
                                                            <input type="radio" id="rate-4" name="rating" value="4"> 
                                                            <label for="rate-4" class="d-flex justify-content-center align-items-center"></label> 
                                                            <input type="radio" id="rate-3" name="rating" value="3"> 
                                                            <label for="rate-3" class="d-flex justify-content-center align-items-center"></label> 
                                                            <input type="radio" id="rate-2" name="rating" value="2"> 
                                                            <label for="rate-2" class="d-flex justify-content-center align-items-center"></label> 
                                                            <input type="radio" id="rate-1" name="rating" value="1"> 
                                                            <label for="rate-1" class="d-flex justify-content-center align-items-center"></label> 
                                                        </div>  
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="form-group">
                                                {{form.message}}
                                            </div>
                                            <div class="form-group text-right">
                                                <input type="submit" class="btn" id="submit-comment-btn" value="Post Comment">
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    
                    <div class="col-lg-10 commentBox tour-details pl-5 pt-5">
                        {% include 'partials/training-comments.html' %}
                    </div>
                    
                </div>
                <section class="full p-4">
                    {% if top_trainings %}
                    <div class="row">
                        <h2 class="full bold border-bottom pb-2 mb-3">Top Tours</h2>
                            <div class="owl-carousel owl-theme">
                                {% for tour in top_trainings %}
                                    <div class="item">
                                        <div class="tour-item">
                                            <a href="{% url 'tour:detail' tour.pk %}" class="full">
                                                <div class="d-column full">
                                                    {% if tour.avatar %}
                                                        <img src="{{tour.avatar.url}}" alt="">
                                                    {% else %}
                                                        <img src="{% static 'images/default.png' %}" alt="">
                                                    {% endif %}
                                                    <div class="card-body">
                                                        <div class="title border-bottom mb-3">
                                                            {{tour.title|capfirst|truncatechars:25 }}
                                                        </div>
                                                        <div class="d-column">
                                                            <div class="d-flex mb-2 align-center">
                                                                <div class="stars d-flex mr-2" data-value='{{tour.rating}}'>
                                                                    <div class="star"><i class="far fa-star star-active"></i></div>
                                                                    <div class="star"><i class="far fa-star star-active"></i></div>
                                                                    <div class="star"><i class="far fa-star star-active"></i></div>
                                                                    <div class="star"><i class="far fa-star star-deactive"></i></div>
                                                                    <div class="star"><i class="far fa-star star-deactive"></i></div>
                                                                </div> 
                                                                <span>{{tour.tour_comment.count}} reviews</span>
                                                            </div>
                                                            <div class="d-flex">
                                                                <span class="bold mr-2">Location : </span>
                                                                <span>{{tour.city|capfirst}}, {{tour.country|capfirst}}</span>
                                                            </div>
                                                            <div class="d-flex">
                                                                <span class="bold mr-2">Company : </span>
                                                                <span>{{tour.organizer.organizer_name}}</span>
                                                            </div>
                                                            <div class="d-flex full justify-content-between mt-3">
                                                                <div class="price">
                                                                    {{tour.price}} {{tour.currency}}
                                                                </div>
                                                                <div class="duration align-center">
                                                                    <i class="far fa-clock mr-1"></i>
                                                                    {{tour.durationday}} days
                                                                </div>
                                                            </div>
                                                        </div>
        
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="d-flex full justify-content-end">
                                <a href="{% url 'tour:home' %}">Show all</a>
                            </div>
                    </div>
                {% endif %}
            
                </section>
            </div>
        </div>
    </main>

    {% include 'partials/footer.html' %}



    <script>
        details = document.querySelectorAll(".details .visible")
        for (let i = 1; i < details.length; i++) {
            details[i].style.display = "none"
        }

        function readmore() {
            if (details[1].style.display == "none") {
                document.querySelector(".readmore").innerHTML = "<strong>Read less</strong/>"
                for (let i = 1; i < details.length; i++) {
                    details[i].style.display = "block"
                }
            } else {
                document.querySelector(
                    ".readmore").innerHTML = "<strong>Read more</strong/>"
                for (let i = 1; i < details.length; i++) {
                    details[i].style.display = "none"
                }
            }
        }


    </script>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/tour-page/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/tour-page/owl.carousel.js' %}"></script>
    <script src="{% static 'js/tour-page/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/tour-page/main.js' %}"></script>

    <script >
        $('#myform').on('submit', function(e){
            e.preventDefault()  
            var rating = $('input[type=radio]:checked').val()
            var textarea = $('textarea').val()
            var parent_id =  $('.parent_id').val()
            console.log(rating, textarea);
            $.ajax({
                type: "POST",
                url: $('#myform').attr('action'),
                data:  {
                    rating :rating,
                    textarea : textarea,
                    parent_id : parent_id,
                    csrfmiddlewaretoken:$('#myform').find('input[name=csrfmiddlewaretoken]').val(),
                    form_id : $('#myform').attr('id')
                },
                dataType: 'json',
                success: function (data) {
                    $('textarea').val('')
                    $('input[type=radio]:checked').prop('checked', false);
                    console.log(data, 'salamlar');
                    $('.reply-btn').click(function(){
                        $('.reply-form').hide()
                        $(this).parent().find('.reply-form').show()
                    
                    })
                    $('.commentBox').html('').load(
                        "{% url 'training:comments' tour.pk %}"
                    );
                },
                error: function(data) {
                    alert("error");
                    console.log(data);
                }
            });
        });
    

    </script>

</body>

</html>