<li class="full mb-3">
  <div class="alert alert-primary full">
  
  
    <h4 style="color: #000;">
      <i class="icon-mail{% if notice.unread %}-alt{% endif %}"></i>
      {{ notice.verb|safe }}
      {% if notice.target %}
        of {{ notice.target }}
      {% endif %}
    </h4>
    
    <div class="d-flex justify-content-between mt-5">
      <div class="d-flex align-center">
        <i class="far fa-clock mr-1"></i>
        <p class="m-0">{{ notice.timesince }} ago</p>
      </div>
    
    
      <div class="notice-actions">
        {% for action in notice.data.actions %}
          <a class="btn" href="{{ action.href }}">{{ action.title }}</a>
        {% endfor %}
      </div>
      <a class="close pull-right" href="{% url 'notifications:mark_as_read' notice.slug %}">
          <i class="icon-close"></i>
          Mark as Read
      </a>
    </div>
  </div>
</li>